@page "/addequipo"
@inject IDbReunionService DbReunionService
@inject IAPIReunionService apiclass
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NotificationService NotificationService


@attribute [Authorize(Roles = "Admin, AdminChempro,SuperAdmin")]

<h3>Códigos de Equipos </h3>


<p></p>


    @if (centro.Count() == 0)
{
    <div class="loader"></div>

}
else
{
    if (tipo == 1)
    {
        <BSInputRadio CheckedValue="@(0)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Volver
            <span class="oi oi-arrow-circle-left"></span>
        </BSInputRadio>
        <p></p>
        <p></p>
        <div class="contenedor">
            <BSForm Model="EquipoForm" Class="boxhome" IsRow="true" Gutters="Gutters.Medium" OnSubmit="SaveEquipo" OnReset="Reset">
                <DataAnnotationsValidator />
                <BSCol ColumnMedium="12">
                    @_message
                    <BSValidationSummary />
                </BSCol>
                <BSRow>
                    <BSCol Column="4" ColumnSmall="2">
                        <BSLabel>Centro</BSLabel>
                        <BSInput InputType="InputType.Select" @bind-Value="Centro" >
                            <option value="">Seleccione</option>
                            @foreach (var d in centro)
                            {
                                <option value="@d.IdCentro">@d.Centro</option>
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>Centro)" ValidMessage="Correcto." />
                    </BSCol>

                    <BSCol Column="4" ColumnSmall="2">
                        <BSLabel>División</BSLabel>
                        <BSInput InputType="InputType.Select" @bind-Value="Division">
                            <option value="">Seleccione</option>
                            @foreach (var d in centro.Where(di=>di.IdCentro==Centro))
                            {
                                    <option value="@d.IdDivision">@d.División</option>                           
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>Division)" ValidMessage="Correcto." />
                    </BSCol>


                    <BSCol Column="4">
                        <BSLabel>Línea</BSLabel>
                        <BSInput InputType="InputType.Select" @bind-Value="Linea">
                            <option value="">Seleccione...</option>
                            @foreach (var d in centro.Where(li=>li.IdDivision==Division && li.IdCentro==Centro))
                            {
                                    <option value="@d.IdLinea">@d.Linea</option>                         
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>Linea)" ValidMessage="Correcto." />

                    </BSCol>
                </BSRow>



                <p></p>
                <BSRow>
                    <BSCol Column="3">
                        <BSLabel>Código Eam</BSLabel>
                        <BSInput InputType="InputType.Text" @bind-Value="EquipoForm.EcodEquiEam" />
                        <BSFeedback For="@(() => EquipoForm.EcodEquiEam)" ValidMessage="Correcto." />
                    </BSCol>
                </BSRow>
                <p></p>
                <BSRow>
                    <BSCol Column="4">
                        <BSLabel>Nombre del Equipo</BSLabel>
                        <BSInput InputType="InputType.Text" @bind-Value="EquipoForm.EnombreEam" />
                        <BSFeedback For="@(() => EquipoForm.EnombreEam)" ValidMessage="Correcto." />
                    </BSCol>
                    <BSRow>
                        <BSCol Column="6">
                            <BSLabel>Descripción</BSLabel>
                            <BSInput InputType="InputType.TextArea" @bind-Value="EquipoForm.EdescriEam" />
                            <BSFeedback For="@(() => EquipoForm.EdescriEam)" ValidMessage="Correcto." />
                        </BSCol>
                    </BSRow>
                    <p></p>
                </BSRow>
                <BSCol Column="12">
                    <BSButton Color="BSColor.Success" Size="Size.ExtraSmall" IsSubmit >  Guardar Equipo <span class="oi oi-check"></span></BSButton>

                <BSButton Color="BSColor.Primary" Size="Size.ExtraSmall" IsReset >  Nuevo</BSButton>

            </BSCol>
        </BSForm>
    </div>
    }
    else if (tipo == 2)
    {
        <BSInputRadio CheckedValue="@(0)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Volver
            <span class="oi oi-arrow-circle-left"></span>
        </BSInputRadio>
        <p></p>
        <p></p>
        <BSRow>
            <BSCol Column="3">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Centro" >
                    <option value="">Seleccione</option>
                    @foreach (var d in centro)
                    {
                        <option value="@d.IdCentro">@d.Centro</option>
                    }
                </BSInput>
                <BSFeedback For="@(() =>Centro)" ValidMessage="Correcto." />
            </BSCol>

            <BSCol Column="3" >
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Division" >
                    <option value="">Seleccione</option>
                  
                    {
                    @foreach (var d in centro.Where(di=>di.IdCentro==Centro))
                    {
                              <option value="@d.IdDivision">@d.División</option>                           
                    }
                    
                </BSInput>
                <BSFeedback For="@(() =>Division)" ValidMessage="Correcto." />
            </BSCol>


            <BSCol Column="3">
                <BSLabel>Línea</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Linea">
                    <option value="">Seleccione...</option>
                    @foreach (var d in centro.Where(li=>li.IdDivision==Division && li.IdCentro==Centro))
                    {
                                <option value="@d.IdLinea">@d.Linea</option>                         
                    }
                </BSInput>
                <BSFeedback For="@(() =>Linea)" ValidMessage="Correcto." />

            </BSCol Colum="3">
            <BSCol>
                 <BSRow>
                 <BSLabel>Buscar</BSLabel>
                 </BSRow>
                <button onclick="@Get" class="btn btn-success"><i class="oi oi-magnifying-glass"></i></button>
            </BSCol>
            </BSRow>
            <p></p>
            <p></p>
      

        @if (equiposlinea.Count() > 0 && dataIsLoaded == 2)
        {
                 
              <BSCol Column="3">
                <BSLabel>Filtrar Código</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="EquipoFiltro" >
                   
                   
                </BSInput>

            </BSCol Colum="3">
        
        <p></p>
            <BSContainer>


                <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
                    <BSTHead Class="cabecera">
                        <BSTR>

                            @*<BSTD>Id</BSTD>*@
                            <BSTD>Centro</BSTD>
                            <BSTD>División</BSTD>
                            <BSTD>Línea</BSTD>
                            <BSTD>Nombre</BSTD>
                            <BSTD>Código</BSTD>
                            <BSTD>Descripcion</BSTD>
                            <BSTD>Estado</BSTD>
                            <BSTD>Editar</BSTD>



                        </BSTR>
                    </BSTHead>
                    <BSTBody>
                        
                            @if (EquipoFiltro.Length>2)
                            {

                                
                                    @if(equiposlinea.Where(a => a.CodigoEq.Contains(EquipoFiltro)).Count()==0)
                                    {
                                        <p>No hay registros.</p>
                                    }
                                    else
                                    {
                                         @foreach (var d in  equiposlinea.Where(a => a.CodigoEq.Contains(EquipoFiltro)).ToList())
                                        {
                                            <BSTR>
                                            @*<BSTD>@d.IdEquipo</BSTD>*@
                                            <BSTD>@d.Centro</BSTD>
                                            <BSTD>@d.Desc</BSTD>
                                            <BSTD>@d.Linea</BSTD>
                                            
                                            @if(idequipoeditar==d.IdEquipo)
                                            {
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.Equipo" />
                                                      <BSFeedback For="@(() => d.Equipo)" ValidMessage="Correcto." />

                                                </BSTD> 
                                                
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.CodigoEq" />
                                                      <BSFeedback For="@(() => d.CodigoEq)" ValidMessage="Correcto." />

                                                </BSTD>  

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.Desc" />
                                                      <BSFeedback For="@(() => d.Desc)" ValidMessage="Correcto." />

                                                </BSTD>

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Select" @bind-Value="d.Estado">
                                                            <option value="true">Activar</option>  
                                                            <option value="false">Desactivar</option> 
                                                       </BSInput>
                                                      <BSFeedback For="@(() => d.Estado)" ValidMessage="Correcto." />

                                                </BSTD>
                                                <BSTD>                                                                            
                                                 <BSButton Color="BSColor.Primary" IsOutlined @onclick="(() => Editar(d))" Target="History"><i class="oi oi-circle-check"></i></BSButton>
                                                    <BSButton Color="BSColor.Danger" IsOutlined @onclick="Cancelar" Target="History"><i class="oi oi-circle-x"></i></BSButton>

                                             </BSTD>
                                        
                                            }
                                             else
                                            {
                                                <BSTD>
                                                    @d.Equipo                                    
                                                </BSTD>
                                            
                                        
                                            <BSTD>
                                                    @d.CodigoEq
                                            </BSTD>
                                            <BSTD>
                                                    @d.Desc
                                            </BSTD>
                                            <BSTD>
                                                @if(d.Estado==true)
                                                {
                                                    <p>Activo</p>
                                                }
                                                else
                                                {
                                                    <p>Inactivo</p>
                                                }
                                            </BSTD>
                                            
                                            <BSTD>                                               
                                                 <BSButton Color="BSColor.Success" IsOutlined @onclick="(() => Habilitar(d.IdEquipo))" Target="History"><i class="oi oi-pencil"></i></BSButton>
                                            </BSTD>
                                            }
                                            </BSTR> 
                                        }
                                     }
                              }
                            
                            
                            else               
                            {
                                @foreach (var d in equiposlinea)
                                {
                                  <BSTR>
                       @*         <BSTD>@d.IdEquipo</BSTD>*@
                                <BSTD>@d.Centro</BSTD>
                                <BSTD>@d.Division</BSTD>
                                <BSTD>@d.Linea</BSTD>
                                                                            @if(idequipoeditar==d.IdEquipo)
                                            {
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.Equipo" />
                                                      <BSFeedback For="@(() => d.Equipo)" ValidMessage="Correcto." />

                                                </BSTD> 
                                                
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.CodigoEq" />
                                                      <BSFeedback For="@(() => d.CodigoEq)" ValidMessage="Correcto." />

                                                </BSTD>  

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.Desc" />
                                                      <BSFeedback For="@(() => d.Desc)" ValidMessage="Correcto." />

                                                </BSTD>

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Select" @bind-Value="d.Estado">
                                                            <option value="true">Activar</option>  
                                                            <option value="false">Desactivar</option> 
                                                       </BSInput>
                                                      <BSFeedback For="@(() => d.Estado)" ValidMessage="Correcto." />

                                                </BSTD>
                                                <BSTD>                                                                            
                                                 <BSButton Color="BSColor.Primary" IsOutlined @onclick="(() => Editar(d))" Target="History"><i class="oi oi-circle-check"></i></BSButton>
                                                 <BSButton Color="BSColor.Danger" IsOutlined @onclick="Cancelar" Target="History"><i class="oi oi-circle-x"></i></BSButton>
                                            </BSTD>
                                        
                                            }
                                             else
                                            {
                                                <BSTD>
                                                    @d.Equipo                                   
                                                </BSTD>
                                            
                                        
                                            <BSTD>
                                                    @d.CodigoEq
                                            </BSTD>
                                            <BSTD>
                                                    @d.Desc
                                            </BSTD>
                                            <BSTD>
                                                @if(d.Estado==true)
                                                {
                                                    <p>Activo</p>
                                                }
                                                else
                                                {
                                                    <p>Inactivo</p>
                                                }
                                            </BSTD>
                                            
                                            <BSTD>                                               
                                                 <BSButton Color="BSColor.Success" IsOutlined @onclick="(() => Habilitar(d.IdEquipo))" Target="History"><i class="oi oi-pencil"></i></BSButton>
                                            </BSTD>
                                            }
                                            </BSTR> 
                            
                            }
                        }

                    </BSTBody>

                </BSTable>
            </BSContainer>
        }
        else if (dataIsLoaded == 1 && equiposlinea.Count() == 0)
        {
            <div class="loader"></div>
        }
        else if (dataIsLoaded == 2 && equiposlinea.Count() == 0)
        {
            <p>No hay equipos.</p>
        }

    }
    else
    {
        <BSInputRadio CheckedValue="@(1)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Agregar Equipos
            <span class="oi oi-plus"></span>
        </BSInputRadio>
        <BSInputRadio @bind-Value="tipo" CheckedValue="@(2)" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Consultar Equipos
            <span class="oi oi-magnifying-glass"></span>
        </BSInputRadio>
    }
}



@code {
    [Required(ErrorMessage = "Seleccione el Centro.")]
    private int Centro { get; set; } //para cargar los datos del trazabilidad
    [Required(ErrorMessage = "Seleccione la división.")]
    private int Division { get; set; }
    [Required(ErrorMessage = "Seleccione la Línea.")]
    private int Linea { get; set; }

    
    private string EquipoFiltro { get; set; } = "";
    private int tipo { get; set; } = 0;
    private int idequipoeditar { get; set; } = 0;//id para mostar los campos de edicion
    private string mensaje = "", result = "";//resultado del save;

    int dataIsLoaded = 0;
    string _message;
    //Alerts Alertas = new Alerts();
    private NotifiRadzen Notificar = new NotifiRadzen();//Logic para crear las noyificaciones radzen

    EquipoDTO EquipoForm = new EquipoDTO();
    List<EquipoEam> EquipoLista = new List<EquipoEam>();
    private List<Claim> claims { get; set; }

    List<MaestraVDTO> centro { get; set; }
    List<LineaDTO> lineas { get; set; }
    List<DivisionDTO> divisions { get; set; }
    List<KsfDTO> ksfs { get; set; }
    List<RespoReuDTO> resporeu { get; set; }
    List<ReuDiumDTO> reunionditabla { get; set; }
    List<ReuDiumDTO> reudiatabla { get; set; }
    List<AsistenReuDTO> asistenreus { get; set; }
    List<CargoReuDTO> cargoreus { get; set; }
    List<StatsAsisDto> StatsAsisDtos { get; set; }
    List<EquiposEamVDTO> equipos { get; set; }
    List<EquiposEamVDTO> equiposlinea { get; set; }
    List<EquipoEamDTO> listaEqupis { get; set; }
    List<CalendarioTrabajoDTO> calentrabajo { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }
    protected async Task Get()
    {
        tipo = 2;
        if (dataIsLoaded != 1)
        {
            dataIsLoaded = 1;
            await apiclass.GetEquiposxlinea(Linea.ToString());
            dataIsLoaded = 2;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await CreateData();
        await apiclass.GetCentrosxEmpresa("All" + claims[10].Value);
    }
    protected async Task SaveEquipo(EditContext e)
    {
        if (e.Validate())
        {

            try
            {
                EquipoForm.IdLinea = Linea;
                EquipoForm.EestaEam = true;
                EquipoForm.EcodEquiEam = EquipoForm.EcodEquiEam.Replace(" ", String.Empty);
                mensaje = await apiclass.AddEquipo(EquipoForm);

                if (mensaje == "Registro Exitoso")
                {
                    NotificationService.Notify(Notificar.Notificacion("exito", mensaje, ""));
                }
                else
                {
                    NotificationService.Notify(Notificar.Notificacion("advertencia", "Atención", mensaje));
                }
                Reset();


            }
            catch (Exception ex)
            {
                NotificationService.Notify(Notificar.Notificacion("error", "Error al Insertar los datos, Intente de Nuevo",
                ex.Message));

            }
        }
    }

    async Task Habilitar(int id)
    {
        idequipoeditar = id;
    }
    async Task Cancelar()
    {
        idequipoeditar = 0;
    }
    async Task Editar(EquiposEamVDTO equipo)
    {
        try
        {
            EquipoDTO eq = new EquipoDTO();
            eq.IdEquipo = equipo.IdEquipo;
            eq.IdLinea = equipo.IdLinea;
            eq.EcodEquiEam = equipo.CodigoEq;
            eq.EdescriEam = equipo.Desc;
            eq.EestaEam = equipo.Estado;
            eq.EnombreEam = equipo.Equipo;

            mensaje = await apiclass.AddEquipo(eq);

            if (mensaje == "Registro Exitoso")
            {
                NotificationService.Notify(Notificar.Notificacion("exito", mensaje, ""));
            }
            else
            {
                NotificationService.Notify(Notificar.Notificacion("advertencia", "Atención", mensaje));
            }

            idequipoeditar = 0;
        }
        catch (Exception ex)
        {
            NotificationService.Notify(Notificar.Notificacion("error", "Error al Insertar los datos, Intente de Nuevo",
            ex.Message));
        }

    }


    protected async Task Reset()
    {
        EquipoForm = new EquipoDTO();
        Centro = 0;
    }
    }

