@page "/addequipo"
@inject IAsistenciaReuData AsistenciaReuData
@inject IAvisadorData AvisadorData
@inject ICargoReuData CargoReuData
@inject IKsfData KsfData
@inject IPizarraData PizarraData
@inject IRespoReuData RespoReuData
@inject IMaestraData MaestraData
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NotificationService NotificationService


@attribute [Authorize(Roles = "Admin, AdminChempro,SuperAdmin")]

<h3>Códigos de Equipos </h3>


<p></p>


    @if (MaestraData.centro.Count() == 0)
{
    <div class="loader"></div>

}
else
{
    if (tipo == 1)
    {
        <BSInputRadio CheckedValue="@(0)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Volver
            <span class="oi oi-arrow-circle-left"></span>
        </BSInputRadio>
        <p></p>
        <p></p>
        <div class="contenedor">
            <BSForm Model="EquipoForm" Class="boxhome" IsRow="true" Gutters="Gutters.Medium" OnSubmit="SaveEquipo" OnReset="Reset">
                <DataAnnotationsValidator />
                <BSCol ColumnMedium="12">
                    @_message
                    <BSValidationSummary />
                </BSCol>
                <BSRow>
                    <BSCol Column="4" ColumnSmall="2">
                        <BSLabel>Centro</BSLabel>
                        <BSInput InputType="InputType.Select" @onchange="BuscarDivision" @bind-Value="IdCent">
                            <option value="0">Seleccione</option>
                            @foreach (var d in MaestraData.centro)
                            {
                                <option value="@d.IdCentro">@d.Centro</option>
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>IdCent)" ValidMessage="Correcto." />
                    </BSCol>

                    <BSCol Column="4" ColumnSmall="2">
                        <BSLabel>División</BSLabel>
                        <BSInput InputType="InputType.Select" @onchange='BuscarLinea' @bind-Value="IdDiv">
                            <option value="0">Seleccione</option>
                            @foreach (var d in MaestraData.divisions)
                            {
                                    <option value="@d.IdDivision">@d.Ndivision</option>                           
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>IdDiv)" ValidMessage="Correcto." />
                    </BSCol>


                    <BSCol Column="4">
                        <BSLabel>Línea</BSLabel>
                        <BSInput InputType="InputType.Select" @bind-Value="IdLin">
                            <option value="0">Seleccione...</option>
                            @foreach (var d in MaestraData.lineas)
                            {
                                    <option value="@d.IdLinea">@d.Linea</option>                         
                            }
                        </BSInput>
                        <BSFeedback For="@(() =>IdLin)" ValidMessage="Correcto." />

                    </BSCol>
                </BSRow>



                <p></p>
                <BSRow>
                    <BSCol Column="3">
                        <BSLabel>Código Eam</BSLabel>
                        <BSInput InputType="InputType.Text" @bind-Value="EquipoForm.EcodEquiEam" />
                        <BSFeedback For="@(() => EquipoForm.EcodEquiEam)" ValidMessage="Correcto." />
                    </BSCol>
                </BSRow>
                <p></p>
                <BSRow>
                    <BSCol Column="4">
                        <BSLabel>Nombre del Equipo</BSLabel>
                        <BSInput InputType="InputType.Text" @bind-Value="EquipoForm.EnombreEam" />
                        <BSFeedback For="@(() => EquipoForm.EnombreEam)" ValidMessage="Correcto." />
                    </BSCol>
                    <BSRow>
                        <BSCol Column="6">
                            <BSLabel>Descripción</BSLabel>
                            <BSInput InputType="InputType.TextArea" @bind-Value="EquipoForm.EdescriEam" />
                            <BSFeedback For="@(() => EquipoForm.EdescriEam)" ValidMessage="Correcto." />
                        </BSCol>
                    </BSRow>
                    <p></p>
                </BSRow>
                <BSCol Column="12">
                    <BSButton Color="BSColor.Success" Size="Size.ExtraSmall" IsSubmit >  Guardar Equipo <span class="oi oi-check"></span></BSButton>

                <BSButton Color="BSColor.Primary" Size="Size.ExtraSmall" IsReset >  Nuevo</BSButton>

            </BSCol>
        </BSForm>
    </div>
    }
    else if (tipo == 2)
    {
        <BSInputRadio CheckedValue="@(0)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Volver
            <span class="oi oi-arrow-circle-left"></span>
        </BSInputRadio>
        <p></p>
        <p></p>
        <BSRow>
            <BSCol Column="3">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @onchange="BuscarDivision" @bind-Value="IdCent" >
                    <option value="0">Seleccione</option>
                    @foreach (var d in MaestraData.centro)
                    {
                        <option value="@d.IdCentro">@d.Centro</option>
                    }
                </BSInput>
                <BSFeedback For="@(() =>IdCent)" ValidMessage="Correcto." />
            </BSCol>

            <BSCol Column="3" >
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @onchange='BuscarLinea' @bind-Value="IdDiv" >
                    <option value="0">Seleccione</option>
                  
                    {
                    @foreach (var d in MaestraData.divisions)
                    {
                              <option value="@d.IdDivision">@d.Ndivision</option>                           
                    }
                    
                </BSInput>
                <BSFeedback For="@(() =>IdDiv)" ValidMessage="Correcto." />
            </BSCol>


            <BSCol Column="3">
                <BSLabel>Línea</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdLin">
                    <option value="0">Seleccione...</option>
                    @foreach (var d in MaestraData.lineas)
                    {
                                <option value="@d.IdLinea">@d.Linea</option>                         
                    }
                </BSInput>
                <BSFeedback For="@(() =>IdLin)" ValidMessage="Correcto." />

            </BSCol Colum="3">
            <BSCol>
                 <BSRow>
                 <BSLabel>Buscar</BSLabel>
                 </BSRow>
                <button onclick="@Get" class="btn btn-success"><i class="oi oi-magnifying-glass"></i></button>
            </BSCol>
            </BSRow>
            <p></p>
            <p></p>
      

        @if (MaestraData.equiposlinea.Count() > 0 && dataIsLoaded == 2)
        {
                 
              <BSCol Column="3">
                <BSLabel>Filtrar Código</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="EquipoFiltro" >
                   
                   
                </BSInput>

            </BSCol Colum="3">
        
        <p></p>
            <BSContainer>


                <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
                    <BSTHead Class="cabecera">
                        <BSTR>

                            @*<BSTD>Id</BSTD>*@
                            <BSTD>Centro</BSTD>
                            <BSTD>División</BSTD>
                            <BSTD>Línea</BSTD>
                            <BSTD>Nombre</BSTD>
                            <BSTD>Código</BSTD>
                            <BSTD>Descripcion</BSTD>
                            <BSTD>Estado</BSTD>
                            <BSTD>Editar</BSTD>



                        </BSTR>
                    </BSTHead>
                    <BSTBody>
                        
                            @if (EquipoFiltro.Length>2)
                            {

                                
                                    @if(MaestraData.equiposlinea.Where(a => a.EcodEquiEam.Contains(EquipoFiltro)).Count()==0)
                                    {
                                        <p>No hay registros.</p>
                                    }
                                    else
                                    {
                                         @foreach (var d in  MaestraData.equiposlinea.Where(a => a.EcodEquiEam.Contains(EquipoFiltro)).ToList())
                                        {
                                            <BSTR>
                                            @*<BSTD>@d.IdEquipo</BSTD>*@
                                            @* <BSTD>@d.centro</BSTD> *@
                                            <BSTD>@d.EdescriEam</BSTD>
                                            <BSTD>@d.Linea</BSTD>
                                            
                                            @if(idequipoeditar==d.IdEquipo)
                                            {
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EnombreEam" />
                                                      <BSFeedback For="@(() => d.EnombreEam)" ValidMessage="Correcto." />

                                                </BSTD> 
                                                
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EcodEquiEam" />
                                                      <BSFeedback For="@(() => d.EcodEquiEam)" ValidMessage="Correcto." />

                                                </BSTD>  

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EdescriEam" />
                                                      <BSFeedback For="@(() => d.EdescriEam)" ValidMessage="Correcto." />

                                                </BSTD>

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Select" @bind-Value="d.EestaEam">
                                                            <option value="true">Activar</option>  
                                                            <option value="false">Desactivar</option> 
                                                       </BSInput>
                                                      <BSFeedback For="@(() => d.EestaEam)" ValidMessage="Correcto." />

                                                </BSTD>
                                                <BSTD>                                                                            
                                                 <BSButton Color="BSColor.Primary" IsOutlined @onclick="(() => Editar(d))" Target="History"><i class="oi oi-circle-check"></i></BSButton>
                                                    <BSButton Color="BSColor.Danger" IsOutlined @onclick="Cancelar" Target="History"><i class="oi oi-circle-x"></i></BSButton>

                                             </BSTD>
                                        
                                            }
                                             else
                                            {
                                                <BSTD>
                                                    @d.EnombreEam                                    
                                                </BSTD>
                                            
                                        
                                            <BSTD>
                                                    @d.EcodEquiEam
                                            </BSTD>
                                            <BSTD>
                                                    @d.EdescriEam
                                            </BSTD>
                                            <BSTD>
                                                @if(d.EestaEam==true)
                                                {
                                                    <p>Activo</p>
                                                }
                                                else
                                                {
                                                    <p>Inactivo</p>
                                                }
                                            </BSTD>
                                            
                                            <BSTD>                                               
                                                 <BSButton Color="BSColor.Success" IsOutlined @onclick="(() => Habilitar(d.IdEquipo))" Target="History"><i class="oi oi-pencil"></i></BSButton>
                                            </BSTD>
                                            }
                                            </BSTR> 
                                        }
                                     }
                              }
                            
                            
                            else               
                            {
                                @foreach (var d in MaestraData.equiposlinea)
                                {
                                  <BSTR>
                       @*         <BSTD>@d.IdEquipo</BSTD>*@
                                @* <BSTD>@d.Centro</BSTD> *@
                                @* <BSTD>@d.Division</BSTD> *@
                                <BSTD>@d.Linea</BSTD>
                                            @if(idequipoeditar==d.IdEquipo)
                                            {
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EnombreEam" />
                                                      <BSFeedback For="@(() => d.EnombreEam)" ValidMessage="Correcto." />

                                                </BSTD> 
                                                
                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EcodEquiEam" />
                                                      <BSFeedback For="@(() => d.EcodEquiEam)" ValidMessage="Correcto." />

                                                </BSTD>  

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Text" @bind-Value="d.EdescriEam" />
                                                      <BSFeedback For="@(() => d.EdescriEam)" ValidMessage="Correcto." />

                                                </BSTD>

                                                <BSTD>
                                                    
                                                      <BSInput InputType="InputType.Select" @bind-Value="d.EestaEam">
                                                            <option value="true">Activar</option>  
                                                            <option value="false">Desactivar</option> 
                                                       </BSInput>
                                                      <BSFeedback For="@(() => d.EestaEam)" ValidMessage="Correcto." />

                                                </BSTD>
                                                <BSTD>                                                                            
                                                 <BSButton Color="BSColor.Primary" IsOutlined @onclick="(() => Editar(d))" Target="History"><i class="oi oi-circle-check"></i></BSButton>
                                                 <BSButton Color="BSColor.Danger" IsOutlined @onclick="Cancelar" Target="History"><i class="oi oi-circle-x"></i></BSButton>
                                            </BSTD>
                                        
                                            }
                                             else
                                            {
                                                <BSTD>
                                                    @d.EnombreEam                                   
                                                </BSTD>
                                            
                                        
                                            <BSTD>
                                                    @d.EcodEquiEam
                                            </BSTD>
                                            <BSTD>
                                                    @d.EdescriEam
                                            </BSTD>
                                            <BSTD>
                                                @if(d.EestaEam==true)
                                                {
                                                    <p>Activo</p>
                                                }
                                                else
                                                {
                                                    <p>Inactivo</p>
                                                }
                                            </BSTD>
                                            
                                            <BSTD>                                               
                                                 <BSButton Color="BSColor.Success" IsOutlined @onclick="(() => Habilitar(d.IdEquipo))" Target="History"><i class="oi oi-pencil"></i></BSButton>
                                            </BSTD>
                                            }
                                            </BSTR> 
                            
                            }
                        }

                    </BSTBody>

                </BSTable>
            </BSContainer>
        }
        else if (dataIsLoaded == 1 && MaestraData.equiposlinea.Count() == 0)
        {
            <div class="loader"></div>
        }
        else if (dataIsLoaded == 2 && MaestraData.equiposlinea.Count() == 0)
        {
            <p>No hay equipos.</p>
        }

    }
    else
    {
        <BSInputRadio CheckedValue="@(1)" @bind-Value="tipo" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Agregar Equipos
            <span class="oi oi-plus"></span>
        </BSInputRadio>
        <BSInputRadio @bind-Value="tipo" CheckedValue="@(2)" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
            Consultar Equipos
            <span class="oi oi-magnifying-glass"></span>
        </BSInputRadio>
    }
}



@code {
    [Required(ErrorMessage = "Seleccione el Centro.")]
    private int IdCent { get; set; }
    [Required(ErrorMessage = "Seleccione la división.")]
    private int IdDiv { get; set; } 
    [Required(ErrorMessage = "Seleccione la Línea.")]
    private int IdLin { get; set; }

    private string EquipoFiltro { get; set; } = "";
    private int tipo { get; set; } = 0;
    private int idequipoeditar { get; set; } = 0;//id para mostar los campos de edicion
    private string mensaje = "", result = "";//resultado del save;

    int dataIsLoaded = 0;
    string _message;
    //Alerts Alertas = new Alerts();
    private NotifiRadzen Notificar = new NotifiRadzen();//Logic para crear las noyificaciones radzen

    EquipoDTO EquipoForm = new EquipoDTO();
    private List<Claim> claims { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }
    protected async Task Get()
    {
        tipo = 2;
        if (dataIsLoaded != 1)
        {
            dataIsLoaded = 1;
            await MaestraData.GetEquiposxlinea(IdLin.ToString());
            dataIsLoaded = 2;
        }
    }

        protected async Task BuscarDivision(ChangeEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) && int.TryParse(e.Value.ToString(), out int IdCentro))
        {

            try
            {
                if (IdCentro != 0)
                {
                    MaestraData.divisions = await MaestraData.ObtenerDivisionDelCentro(IdCentro);
                }
            }
            catch (Exception ex)
            {
                mensaje = "Error: " + ex.Message;
            }
        }
        else
        {
            mensaje = "El valor del centro seleccionado no es válido.";
        }
    }

    protected async Task BuscarLinea(ChangeEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(e.Value?.ToString()) && int.TryParse(e.Value.ToString(), out int IdLin))
        {

            try
            {
                if (IdLin != 0)
                {
                    MaestraData.lineas = await MaestraData.ObtenerLasLineasPorDivision(IdLin);
                }
            }
            catch (Exception ex)
            {
                mensaje = "Error: " + ex.Message;
            }
        }
        else
        {
            mensaje = "El valor del centro seleccionado no es válido.";
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await CreateData();
        await MaestraData.GetCentrosxEmpresa("All" + claims[10].Value);
    }
    protected async Task SaveEquipo(EditContext e)
    {
        if (e.Validate())
        {

            try
            {   
                EquipoForm.Efecha = DateTime.Now;
                EquipoForm.IdLinea = IdLin;
                EquipoForm.EestaEam = true;
                EquipoForm.EcodEquiEam = EquipoForm.EcodEquiEam.Replace(" ", String.Empty);
                mensaje = await MaestraData.AddEquipo(EquipoForm);

                if (mensaje == "Registro Exitoso")
                {
                    NotificationService.Notify(Notificar.Notificacion("exito", mensaje, ""));
                }
                else
                {
                    NotificationService.Notify(Notificar.Notificacion("advertencia", "Atención", mensaje));
                }
                Reset();


            }
            catch (Exception ex)
            {
                NotificationService.Notify(Notificar.Notificacion("error", "Error al Insertar los datos, Intente de Nuevo",
                ex.Message));

            }
        }
    }

    async Task Habilitar(int id)
    {
        idequipoeditar = id;
    }
    async Task Cancelar()
    {
        idequipoeditar = 0;
    }
    async Task Editar(EquipoEamDTO equipo)
    {
        try
        {
            EquipoDTO eq = new EquipoDTO();
            eq.IdEquipo = equipo.IdEquipo;
            eq.IdLinea = equipo.IdLinea;
            eq.EcodEquiEam = equipo.EcodEquiEam;
            eq.EdescriEam = equipo.EdescriEam;
            eq.EestaEam = equipo.EestaEam;
            eq.EnombreEam = equipo.EnombreEam;

            mensaje = await MaestraData.AddEquipo(eq);

            if (mensaje == "Registro Exitoso")
            {
                NotificationService.Notify(Notificar.Notificacion("exito", mensaje, ""));
            }
            else
            {
                NotificationService.Notify(Notificar.Notificacion("advertencia", "Atención", mensaje));
            }

            idequipoeditar = 0;
        }
        catch (Exception ex)
        {
            NotificationService.Notify(Notificar.Notificacion("error", "Error al Insertar los datos, Intente de Nuevo",
            ex.Message));
        }

    }


    protected async Task Reset()
    {
        EquipoForm = new EquipoDTO();
        IdCent = 0;
    }
    }

