@page "/calendario"
@using Radzen.Blazor.Rendering;
@inject DialogService DialogService
@inject IDbReunionService DbReunionService
@inject IAPIReunionService apiclass
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage


<BSContainer>

    @if (Centro.Count() == 0)
    {
        <div class="loader"></div>
    }
    else
    {
        <BSRow>
            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdCentro">
                    <option value="">Seleccione</option>
                    @foreach (var d in Centro)
                    {
                        <option value="@d.IdCentro">@d.Centro</option>
                    }
                </BSInput>
                <BSValidationSummary />
                <BSFeedback For="@(() => IdCentro)" ValidMessage="Correcto." />
            </BSCol>



            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdDiv">
                    <option>Seleccione</option>
                    @foreach (var d in Centro)
                    {
                        if (IdCentro == d.IdCentro)
                        {
                            <option value="@d.IdDivision">@d.División</option>
                        }

                    }
                    <option value="0">Todo</option>
                </BSInput>
                <BSFeedback For="@(() => IdDiv)" ValidMessage="Correcto." />
            </BSCol>


            <BSCol ColumnSmall="2">
                <BSRow>
                    <BSLabel>Aceptar</BSLabel>
                </BSRow>
                <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="(() => Get(IdCentro,IdDiv))">
                    Consultar <span class="oi oi-check"></span></BSButton>
            </BSCol>

        </BSRow>
    }

</BSContainer>

<p>

</p>
@if (calentrabajo.Count() > 0 && dataIsLoaded == 2)
{

    <RadzenScheduler Data="@data" TItem="DataItem" StartProperty="Start" SelectedIndex="1" style="height: 630px;"
        EndProperty="End" TodayText="Hoy" TextProperty="Text" AppointmentRender=@OnAppointmentRender>
        <RadzenDayView Text="Día" />
        <RadzenWeekView Text="Semana" />
        <RadzenMonthView Text="Mes" />
        <RadzenYearPlannerView Text="Planifcación" />
        <RadzenYearView Text="Año" />
    </RadzenScheduler>
}

else if (dataIsLoaded == 1 && calentrabajo.Count() == 0)
{
    <div class="loader"></div>
}
else if (dataIsLoaded == 2 && calentrabajo.Count() == 0)
{
    <p>No hay datos para esta fecha.</p>
}



@code {
    private List<Claim> claims { get; set; }


    [Required(ErrorMessage = "Seleccione el Centro")]
    private int IdCentro { get; set; } //id del Centro
    [Required(ErrorMessage = "Seleccione la división.")]
    private int IdDiv { get; set; } //id de la division
    private int dataIsLoaded { get; set; } //verificar si cargo la lista
    DataItem[] data;
    private List<AsistenReuDTO> listaAsistencia { get; set; } = new List<AsistenReuDTO>();
    private List<LineaDTO> lineas { get; set; } = new List<LineaDTO>();
    private List<DivisionDTO> divisions { get; set; } = new List<DivisionDTO>();
    private List<MaestraVDTO> Centro { get; set; } = new List<MaestraVDTO>();
    private List<KsfDTO> ksfs { get; set; } = new List<KsfDTO>();
    private List<RespoReuDTO> resporeu { get; set; } = new List<RespoReuDTO>();
    private List<ReuDiumDTO> reunionditabla { get; set; } = new List<ReuDiumDTO>();
    private List<ReuDiumDTO> reudiatabla { get; set; } = new List<ReuDiumDTO>();
    private List<AsistenReuDTO> asistenreus { get; set; } = new List<AsistenReuDTO>();
    private List<CargoReuDTO> cargoreus { get; set; } = new List<CargoReuDTO>();
    private List<StatsAsisDto> StatsAsisDtos { get; set; } = new List<StatsAsisDto>();
    private List<EquiposEamVDTO> equipos { get; set; } = new List<EquiposEamVDTO>();
    private List<EquiposEamVDTO> equiposlinea { get; set; } = new List<EquiposEamVDTO>();
    private List<EquipoEamDTO> listaEqupis { get; set; } = new List<EquipoEamDTO>();
    private List<CalendarioTrabajoDTO> calentrabajo { get; set; } = new List<CalendarioTrabajoDTO>();



    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }
    protected override async Task OnInitializedAsync()
    {

        await CreateData();

        var rol = claims.FirstOrDefault(c => c.Type.Contains("role"))?.Value;

        if (rol == "Admin" || rol == "SuperAdmin" || rol == "MttoAdmin" || rol == "SeguridadAdmin" || rol == "Auditores" || rol
        == "CalidadAdmin")
        {

            await apiclass.GetCentrosxEmpresa("All" + claims[10].Value);

        }
        else
        {

            await apiclass.GetCentrosxEmpresa(claims[11].Value);

        }

        await apiclass.Getksf();
        await apiclass.GetResReu();

    }

    protected async Task Get(int IdCentro, int IdDiv)
    {
        string centro = "", division = "";
        if (IdCentro > 0)
        {
            centro = Centro.Where(c => c.IdCentro == IdCentro).FirstOrDefault(c => c.IdCentro.Equals(IdCentro)).Centro;
            if (IdDiv == 0)
            {
                division = "All";
            }
            else
            {
                foreach (var d in Centro)
                {
                    if (IdDiv == d.IdDivision)
                    {
                        division = d.División;
                    }
                }
            }

            if (dataIsLoaded != 1)
            {
                dataIsLoaded = 1;
                await apiclass.GetTrabajosCalendario(claims[9].Value.ToString(), centro, division);
                data = new DataItem[calentrabajo.Count()];

                for (int i = 0; i < data.Count(); i++)
                {
                    DateTime Inicio = new DateTime(calentrabajo[i].RdfecTra.Year, calentrabajo[i].RdfecTra.Month,
                    calentrabajo[i].RdfecTra.Day, 08, 00, 00);
                    DateTime Final = Inicio.AddHours((calentrabajo[i].Rdtiempo is null) ? 0 : (double.Parse(calentrabajo[i].Rdtiempo)));
                    data[i] = new DataItem
                        {

                            Start = Inicio,
                            End = Final,
                            Text = calentrabajo[i].Linea + " - " + calentrabajo[i].Responsable + " - " + ((calentrabajo[i].Rddisc.Length < 30) ?
                        calentrabajo[i].Rddisc : calentrabajo[i].Rddisc.Substring(0, 30) + "...") + " - " + calentrabajo[i].RdcodEq

                        };
                    if (data[i].End < DateTime.Today)
                    {
                        data[i].Text = "Vencido " + data[i].Text;
                    }

                }


                dataIsLoaded = 2;
            }
        }
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<DataItem> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop
        //for (int i = 0; i < data.Count(); i++)
        //{
        if (args.Data.Text.Substring(0, 7) == "Vencido")
        {
            args.Attributes["style"] = "background: red !important";
        }
        //}

    }

    class DataItem
    {
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
        public string Text { get; set; }
    }


    //DataItem[] data = new DataItem[]
    // {


    // new DataItem
    // {
    // Start = DateTime.Today,
    // End = DateTime.Today.AddDays(1),
    // Text = "Birthday"
    // },
    // new DataItem
    // {
    // Start = DateTime.Today,
    // End = DateTime.Today.AddDays(1),
    // Text = "Birthday"
    // }
    // };

}