@page "/calendario"
@using Radzen.Blazor.Rendering;
@inject DialogService DialogService
@inject IAsistenciaReuData AsistenciaReuData
@inject IAvisadorData AvisadorData
@inject ICargoReuData CargoReuData
@inject IKsfData KsfData
@inject IPizarraData PizarraData
@inject IRespoReuData RespoReuData
@inject IMaestraData MaestraData
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage


<BSContainer>

    @if (MaestraData.centro.Count() == 0)
    {
        <div class="loader"></div>
    }
    else
    {
        <BSRow>
            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @onchange="BuscarDivision"  @bind-Value="IdCentro">
                    <option value="0">Seleccione</option>
                    @foreach (var d in MaestraData.centro)
                    {
                        <option value="@d.IdCentro">@d.Centro</option>
                    }
                </BSInput>
                <BSValidationSummary />
                <BSFeedback For="@(() => IdCentro)" ValidMessage="Correcto." />
            </BSCol>



            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdDiv">
                    <option value="0">Seleccione</option>
                    @foreach (var d in MaestraData.divisions)
                    {
                            <option value="@d.IdDivision">@d.Ndivision</option>
                    }
                    <option value="0">Todo</option>
                </BSInput>
                <BSFeedback For="@(() => IdDiv)" ValidMessage="Correcto." />
            </BSCol>


            <BSCol ColumnSmall="2">
                <BSRow>
                    <BSLabel>Aceptar</BSLabel>
                </BSRow>
                <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="(() => Get(IdCentro,IdDiv))">
                    Consultar <span class="oi oi-check"></span></BSButton>
            </BSCol>

        </BSRow>
    }

</BSContainer>

<p>

</p>
@if (PizarraData.calentrabajo.Count() > 0 && dataIsLoaded == 2)
{

    <RadzenScheduler Data="@data" TItem="DataItem" StartProperty="Start" SelectedIndex="1" style="height: 630px;"
        EndProperty="End" TodayText="Hoy" TextProperty="Text" AppointmentRender=@OnAppointmentRender>
        <RadzenDayView Text="Día" />
        <RadzenWeekView Text="Semana" />
        <RadzenMonthView Text="Mes" />
        <RadzenYearPlannerView Text="Planifcación" />
        <RadzenYearView Text="Año" />
    </RadzenScheduler>
}

else if (dataIsLoaded == 1 && PizarraData.calentrabajo.Count() == 0)
{
    <div class="loader"></div>
}
else if (dataIsLoaded == 2 && PizarraData.calentrabajo.Count() == 0)
{
    <p>No hay datos para esta fecha.</p>
}



@code {
    private List<Claim> claims { get; set; }


    [Required(ErrorMessage = "Seleccione el Centro")]
    private int IdCentro { get; set; } //id del Centro
    [Required(ErrorMessage = "Seleccione la división.")]
    private int IdDiv { get; set; } //id de la division
    private int dataIsLoaded { get; set; } //verificar si cargo la lista
    DataItem[] data;

    private string mensaje = "";

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }
    protected override async Task OnInitializedAsync()
    {

        await CreateData();

        var rol = claims.FirstOrDefault(c => c.Type.Contains("role"))?.Value;

        if (rol == "Admin" || rol == "SuperAdmin" || rol == "MttoAdmin" || rol == "SeguridadAdmin" || rol == "Auditores" || rol
        == "CalidadAdmin")
        {

            await MaestraData.GetCentrosxEmpresa("All" + claims[10].Value);

        }
        else
        {

            await MaestraData.GetCentrosxEmpresa(claims[11].Value);

        }

        await KsfData.Getksf();
        await RespoReuData.GetResReu();


    }

    protected async Task Get(int IdCentro, int IdDiv)
    {
        string centro = "", division = "";
        if (IdCentro > 0)
        {
            centro = MaestraData.centro.Where(c => c.IdCentro == IdCentro).FirstOrDefault(c => c.IdCentro.Equals(IdCentro)).Centro;
            if (IdDiv == 0)
            {
                division = "All";
            }
            else
            {
                foreach (var d in MaestraData.divisions)
                {
                    if (IdDiv == d.IdDivision)
                    {
                        division = d.Ndivision;
                    }
                }
            }

            if (dataIsLoaded != 1)
            {
                dataIsLoaded = 1;
                await PizarraData.GetTrabajosCalendario(claims[9].Value.ToString(), centro, division);
                data = new DataItem[PizarraData.calentrabajo.Count()];

                for (int i = 0; i < data.Count(); i++)
                {
                    DateTime Inicio = new DateTime(PizarraData.calentrabajo[i].RdfecTra.Year, PizarraData.calentrabajo[i].RdfecTra.Month,
                    PizarraData.calentrabajo[i].RdfecTra.Day, 08, 00, 00);
                    @* DateTime Final = Inicio.AddHours((PizarraData.calentrabajo[i].Rdtiempo is null) ? 0 : (double.Parse(PizarraData.calentrabajo[i].Rdtiempo))); *@
                    DateTime Final = Inicio.AddHours(
                    PizarraData.calentrabajo[i].Rdtiempo is null 
                    ? 0 
                    : (double.TryParse(PizarraData.calentrabajo[i].Rdtiempo, out double result) ? result : 0)
                    );
                    data[i] = new DataItem
                        {

                            Start = Inicio,
                            End = Final,
                            Text = PizarraData.calentrabajo[i].Linea + " - " + PizarraData.calentrabajo[i].Responsable + " - " + ((PizarraData.calentrabajo[i].Rddisc.Length < 30) ?
                        PizarraData.calentrabajo[i].Rddisc : PizarraData.calentrabajo[i].Rddisc.Substring(0, 30) + "...") + " - " + PizarraData.calentrabajo[i].RdcodEq

                        };
                    if (data[i].End < DateTime.Today)
                    {
                        data[i].Text = "Vencido " + data[i].Text;
                    }

                }


                dataIsLoaded = 2;
            }
        }
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<DataItem> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop
        //for (int i = 0; i < data.Count(); i++)
        //{
        if (args.Data.Text.Substring(0, 7) == "Vencido")
        {
            args.Attributes["style"] = "background: red !important";
        }
        //}

    }

        protected async Task BuscarDivision(ChangeEventArgs e)
    {
            IdCentro = int.Parse(e.Value.ToString());
            IdDiv = 0;
            try{
                if(IdCentro != 0){
                    MaestraData.divisions = await MaestraData.ObtenerDivisionDelCentro(IdCentro);
                }
            }catch(Exception ex){
                mensaje = "Error: " + ex.Message;
            }
    }


    class DataItem
    {
        public DateTime Start { get; set; }
        public DateTime End { get; set; }
        public string Text { get; set; }
    }


    //DataItem[] data = new DataItem[]
    // {


    // new DataItem
    // {
    // Start = DateTime.Today,
    // End = DateTime.Today.AddDays(1),
    // Text = "Birthday"
    // },
    // new DataItem
    // {
    // Start = DateTime.Today,
    // End = DateTime.Today.AddDays(1),
    // Text = "Birthday"
    // }
    // };

}