@page "/discrepancia"
@inject IDbDiv1Service DbDiv1Service


<h3>Discrepancias</h3>

<div>
      <BSCol Column="4">

@if (@mensaje == "Registro Exitoso")
{
            <BSAlert Color="BSColor.Success" IsDismissible="true" HasIcon="true"  @ref="Alertas._alertRef" Dismissed="Alertas.Dismissed">
        @mensaje
            </BSAlert>
}
        else if (@mensaje == "Error al Insertar los datos, Intente de Nuevo" | mensaje == "Seleccione el area." | mensaje == "Seleccione la division." | mensaje == "Llene la discrepancia" | mensaje == "Seleccione status" | mensaje == "Seleccione responsable")
{
            <BSAlert Color="BSColor.Warning" IsDismissible="true" HasIcon="true"  @ref="Alertas._alertRefWar" Dismissed="Alertas.Dismissed">
        @mensaje
            </BSAlert>
}
else if (@mensaje != "")
{
             <BSAlert Color="BSColor.Danger" IsDismissible="true" HasIcon="true"  @ref="Alertas._alertRefErr" Dismissed="Alertas.Dismissed">
        @mensaje
            </BSAlert>
}

</BSCol>
</div>

<p></p>

  <BSForm Model="bdDivform" Class="boxhome" IsRow="true" Gutters="Gutters.Medium" OnSubmit="Insert" OnReset="Reset">
   <DataAnnotationsValidator />
    <BSCol ColumnMedium="12">
        @_message
        <BSValidationSummary />
    </BSCol>
      <BSRow>
              
      <BSCol Column="3" >
                <BSLabel>Division</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Div">

                    <option value="">Seleccione...</option>

                    <option value="DIV 1">Conversión</option>
                    <option value="MOL">Molinos</option>
                     <option value="Generación">Generación de Energía</option>
                     <option value="AMB">Efluentes</option>
                     <option value="PD&CL">Destintado</option>
                     <option value="PP">Planta de Pulpa</option>
                </BSInput>
                <BSFeedback For="@(() => bdDivform.Div)" ValidMessage="Correcto." />
            </BSCol> 
            

             <BSCol Column="2">
                <BSLabel>Area</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Area" ValidateOnInput="true">

                   <option value="">Seleccione...</option>

            @if (bdDivform.Div == "DIV 1")
            {                   
                    <option value="AREA GENERAL">AREA GENERAL</option>
                    <option value="CELDA1">CELDA1</option>
                    <option value="CELDA2">CELDA2</option>
                    <option value="CELDA3">CELDA3</option>
                    <option value="CELDA4">CELDA4</option>
                    <option value="CELDA5">CELDA5</option>
                    <option value="CELDA6">CELDA6</option>
                    <option value="CELDA7">CELDA7</option>
                    <option value="CELDA8">CELDA8</option>
                    <option value="CELDA9">CELDA9</option>
                    <option value="PULPADORA">PULPADORA</option>
                    <option value="BLOWER">BLOWER</option>
                    <option value="COMEDOR SATELITE">COMEDOR SATELITE</option>
                    <option value="REEMPAQUE">REEMPAQUE</option>
                    <option value="ROBOPACK">ROBOPACK</option>
                    <option value="SERVILLETA A">SERVILLETA A</option>
                    <option value="SERVILLETA B">SERVILLETA B</option>
                    <option value="SERVILLETA C">SERVILLETA C</option>
                    <option value="TOALLA ROLLO">TOALLA ROLLO</option>
                    <option value="TOALLA INTERCALADA">TOALLA INTERCALADA</option>
                    <option value="COMPACTADORA">COMPACTADORA</option>
                    <option value="COCKTAIL">COCKTAIL</option>
                    <option value="INSTITUCIONAL">INSTITUCIONAL</option>
                    <option value="IMPRESORAS">IMPRESORAS</option>
                    <option value="SERVILLETA 01">SERVILLETA 01</option>
                    <option value="SERVILLETA 02">SERVILLETA 02</option>
           
             }

            @if (bdDivform.Div == "PD&CL")
            {               
                   
                    <option value="SIST. 816">SIST. 816</option>
                    <option value="LAZO 1">LAZO 1</option>
                    <option value="LAZO 2">LAZO 2</option>
                    <option value="LAMINACION">LAMINACION</option>
                    <option value="OFIC-GEN">OFIC-GEN</option>                     
               
             }
            else if (bdDivform.Div == "PP")
            {
                                         
                        <option value="REFINACION">REFINACION</option>
                        <option value="BLANQUEO">BLANQUEO</option>
                        <option value="SECADO">SECADO</option>
                        <option value="OFI-GEN">OFI-GEN</option>
                        <option value="PREP. QUIM.">PREP. QUIM.</option>
                        <option value="PATIO MADERA">PATIO MADERA</option>
                               
            } 
             else if (bdDivform.Div == "AMB")
            {
                                         
                        <option value="ÁREA AGUA FRESCA">ÁREA AGUA FRESCA</option>
                        <option value="ÁREAS  GENERALES AMBIENTAL">ÁREAS  GENERALES AMBIENTAL</option>
                        <option value="CIRCUITO  1">CIRCUITO  1</option>
                        <option value="CIRCUITO  2">CIRCUITO  2</option>
                        <option value="CIRCUITO  3">CIRCUITO  3</option>
                        <option value="CIRCUITO  4">CIRCUITO  4</option>
                        <option value="LABORATORIO EFLUENTES">LABORATORIO EFLUENTES</option>
                        <option value="SISTEMA DE LODO">SISTEMA DE LODO</option>
                        <option value="SISTEMA DE IRRIGACIÓN">SISTEMA DE IRRIGACIÓN</option>
            
            } 

            
            @if (bdDivform.Div == "MOL")
            {               
                   
                    <option value="PM1">PM1</option>
                    <option value="PM3">PM3</option>
                    <option value="PM5">PM5</option>
                    <option value="PM6">PM6</option>            
                    <option value="ADMIN. MOLINOS">ADMIN. MOLINOS</option>
                    <option value="PROD. CORES. SEMI.">PROD. CORES. SEMI.</option>
                    <option value="REB. 3">REB. 3</option>
                    <option value="PULPADORA 4">PULPADORA 4</option>
                    <option value="EMBALAJE 2">EMBALAJE 2</option>
                    <option value="REB. 1">REB. 1</option>
                    <option value="RECT. CUCHILLAS">RECT. CUCHILLAS</option>
                    <option value="SIST. 815">SIST. 815</option>
                    <option value="SIST. 813">SIST. 813</option>
                    <option value="EMBALAJE 1">EMBALAJE 1</option>                
             }
                      @if (bdDivform.Div == "Generación")
            {       
                    <option value="GER.GEN.ENERGIAS">GER.GEN.ENERGIAS</option>          
                    <option value="GEN.ENERGIA ELECTRICA">GEN.ENERGIA ELECTRICA</option>          
                    <option value="GEN.ENERGIA TERMICA">GEN.ENERGIA TERMICA</option>          
                    <option value="GEN,ENERGIA ELECTRICA GT3">GEN,ENERGIA ELECTRICA GT3</option>          
                    <option value="GEN.ENERGIA TERMICA GT3">GEN.ENERGIA TERMICA GT3</option>          
                    <option value="GEN.ENERG ELECTRICA PLANTA II">GEN.ENERG ELECTRICA PLANTA II</option>          
                    <option value="GEN.ENERG TERMICA PLTA II">GEN.ENERG TERMICA PLTA II</option>          
             }


            </BSInput>
             <BSFeedback For="@(() => bdDivform.Area)" ValidMessage="Correcto." />
            </BSCol>
  
            <BSCol Column="2">
                <BSLabel>Ksf</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Ksf" ValidateOnInput="true">

                    <option value="">Seleccione...</option>
                    <option value="Prod.">Prod.</option>
                    <option value="Mtto">Mtto.</option>
                     <option value="Calid.">Calid.</option>
                     <option value="Seg.">Seg.</option>
                     <option value="R.Quin">R.Quin</option>
                     <option value="Aud.">Aud.</option>
                     <option value="RETRABAJO">RETRABAJO</option>
                     <option value="Prev.">Prev.</option>
                     <option value="RRHH">RRHH</option>
                     <option value="Amb.">Amb.</option>
                     <option value="PM">PM</option>
                     <option value="SOL">SOL</option>
                     
                </BSInput>
                <BSFeedback For="@(() => bdDivform.Ksf)" ValidMessage="Correcto." />
            </BSCol>
               <BSCol Column="2">
                <BSLabel>C. Equipo</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="bdDivform.CodigoEquipo" ValidateOnInput="true" />
                 <BSFeedback For="@(() => bdDivform.CodigoEquipo)" ValidMessage="Correcto." />
                </BSCol>

@*
             <BSCol ColumnSmall="2">
                <BSLabel>Codigo</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Codigo">
                    <option value="">Seleccione...</option>


             <BSCol ColumnSmall="2">
                <BSLabel>Codigo</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Codigo">
                    <option value="">Sleccione...</option>
                    <option value="1">1- En Curso</option>
                    <option value="2">2- Próxima Parada</option>
                    <option value="3">3- Falta Repuesto</option>
                    <option value="4">4- Falta de Personal</option>
                    <option value="5">5- Eq. no Disponible</option>
                

                </BSInput>

            </BSCol>*@



         
            </BSRow> 
            <p></p>
            <BSRow> 
                <BSCol Column="6">
                <BSLabel>Discrepancia</BSLabel>
                <BSInput InputType="InputType.TextArea" @bind-Value="bdDivform.Discrepancia" ValidateOnInput="true" />
                 <BSFeedback For="@(() => bdDivform.Discrepancia)" ValidMessage="Correcto." />
            </BSCol>


               @* <BSCol Column="4">
                <BSLabel>Plan de Accion</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="bdDivform.PlanDeAccion" ValidateOnInput="true" />
                </BSCol>*@ 
                
                
             <BSCol ColumnSmall="3">
                <BSLabel>Status</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Status" ValidateOnInput="true">
                    <option value="">Seleccione...</option>
                   @* <option value="Listo">Listo</option>*@
                    <option value="Pendiente">Pendiente</option>                      
                </BSInput>
                <BSFeedback For="@(() => bdDivform.Status)" ValidMessage="Correcto." />
            </BSCol>

            </BSRow> 

                <p></p>


           @* <BSRow>
        <p></p>


                 <BSCol Column="1">
                <BSLabel>Tiempo</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="bdDivform.Tiempo" ValidateOnInput="true" />
                </BSCol>

                 <BSCol Column="2">
                <BSLabel>Fecha del Trabajo</BSLabel>
                <BSInput InputType="InputType.Date" @bind-Value="fechatrabajo" ValidateOnInput="true" />
                </BSCol>

                <BSCol ColumnSmall="2">
                <BSLabel>Responsable</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Responsable">
                    <option value="">Seleccione...</option>
                    <option value="PRODUCCION">PRODUCCION</option>
                    <option value="MTTO MECANICO">MTTO MECANICO</option>
                    <option value="MTTO ELECTRICO/ELECTRONICO">MTTO ELECTRICO/ELECTRONICO</option>
                    <option value="MTTO INSTRUMENTACION">MTTO INSTRUMENTACION</option>
                    <option value="SEGURIDAD">SEGURIDAD</option>
                    <option value="CALIDAD">CALIDAD</option>
                    <option value="OPERACIONES EFLUENTES">OPERACIONES EFLUENTES</option>
                </BSInput>
                  <BSFeedback For="@(() => bdDivform.Responsable)" ValidMessage="Correcto." />
            </BSCol>

             <BSCol ColumnSmall="2">
                <BSLabel>Status</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="bdDivform.Status">
                    <option value="">Seleccione...</option>
                    <option value="Listo">Listo</option>
                    <option value="Pendiente">Pendiente</option>
                      <BSFeedback For="@(() => bdDivform.Status)" ValidMessage="Correcto." />
                </BSInput>
            </BSCol>



             <BSCol Column="1">
                <BSLabel>PS</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="bdDivform.Ps" ValidateOnInput="true" />
                </BSCol>

             </BSRow>*@
          

      
              <p></p>
               <p></p>

            <BSCol Column="12">
           <BSButton   Color="BSColor.Success"  Size="Size.ExtraSmall" IsSubmit>  Guardar <span class="oi oi-check"></span></BSButton>
           <BSButton   Color="BSColor.Primary"  Size="Size.ExtraSmall" IsReset>  Nuevo </BSButton>
            </BSCol>
       </BSForm>
@code {



    BdDiv1 bdDivform = new BdDiv1();
    Alerts Alertas = new Alerts();
    private string _message = "";
    private DateTime fechahoy, fechatrabajo=DateTime.Today;
    private string fechahoy2;


    private string mensaje = "";

    
    protected async Task Insert(EditContext e)
    {

        //bdDivform.Fecha = fecha;
        try
        {

            if (e.Validate())
            {
                bdDivform.Fecha = (fechahoy = DateTime.Now);
                bdDivform.Fecha2 = (fechahoy2 = fechahoy.ToString("yyyyMMdd"));
                bdDivform.FechaTrab = fechatrabajo;

                if (bdDivform.Area is null)
                {

                    mensaje = "Seleccione el area.";
                }
                else if (bdDivform.Div is null)
                {
                    mensaje = "Seleccione la division.";
                }
                else if (bdDivform.Discrepancia is null)
                {
                    mensaje = "Llene la discrepancia";
                }

                else if (bdDivform.Status is null)
                {
                    mensaje = "Seleccione status";
                }
                else
                {
                    await DbDiv1Service.InsertDiscrepancia(bdDivform);
                    mensaje = "Registro Exitoso";
                    Alertas.Show();
                    //bdDivform = new BdDiv1();

                }
              }

          
        }
        catch (Exception ex)
        {
            if (ex.ToString().Length > 100)
            {
                mensaje = "Error al Insertar los datos, Intente de Nuevo\r  "+ex;
                Alertas.Show();
            }
            else{ 
            mensaje = "Error al Insertar los datos, Intente de Nuevo";
            Alertas.Show();

            }
           
        }
    }


    protected async Task Reset()
    {
        bdDivform = new BdDiv1();
        fechatrabajo = DateTime.Today;
    }

}