@page "/EditDisc/{id:int}/{tipo:int}/{f1}/{f2}"
@inject IDbDiv1Service DbDiv1Service
@inject IAPIDiv1Service APIDiv1Service
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

<h3>Editar Disrepancia</h3>



<h4></h4>
<AuthorizeView Roles="Admin,AdminChempro, SupIntendente">

    <Authorized>
        <BSForm Model="DiscForm" IsRow="true" Gutters="Gutters.Medium" OnSubmit="Editar">
            <DataAnnotationsValidator />
            <BSCol ColumnMedium="12">
                @_message
                <BSValidationSummary />
            </BSCol>
            <BSRow>

                <BSCol Column="3">
                    <BSLabel>Centro</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdcentro" />

                    <BSFeedback For="@(() => DiscForm.Rdcentro)" ValidMessage="Correcto." />
                </BSCol>


                <BSCol Column="2">
                    <BSLabel>División</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rddiv">
                    </BSInput>
                    <BSFeedback For="@(() => DiscForm.Rddiv)" ValidMessage="Correcto." />
                </BSCol>

                <BSCol Column="2">
                    <BSLabel>Area</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdarea">
                    </BSInput>
                    <BSFeedback For="@(() => DiscForm.Rdarea)" ValidMessage="Correcto." />
                </BSCol>


                <BSCol Column="2">
                    <BSLabel>Ksf</BSLabel>
                    <BSInput InputType="InputType.Select" @bind-Value="DiscForm.Idksf">

                        <option value="">Seleccione...</option>
                        @foreach (var d in APIDiv1Service.ksfs)
                        {
                            <option value="@d.Idksf">@d.KsfNombre</option>
                        }

                    </BSInput>
                    <BSFeedback For="@(() => DiscForm.Idksf)" ValidMessage="Correcto." />
                </BSCol>

                <BSCol Column="2">
                    <BSLabel>C. Equipo</BSLabel>
                    <BSInput InputType="InputType.Text" @bind-Value="DiscForm.RdcodEq" ValidateOnInput="true" />
                    <BSFeedback For="@(() => DiscForm.RdcodEq)" ValidMessage="Correcto." />
                </BSCol>


            </BSRow>
            <p></p>
            <BSRow>
                <BSCol Column="6">
                    <BSLabel>Discrepancia</BSLabel>
                    <BSInput InputType="InputType.TextArea"  @bind-Value="DiscForm.Rddisc"  />
                    <BSFeedback For="@(() => DiscForm.Rddisc)" ValidMessage="Correcto." />
                </BSCol>
            </BSRow>
            <p></p>

            <BSRow>
                @if (tipo == 0)
                {
                    <BSCol Column="6">
                        <BSLabel>Plan de Accion</BSLabel>
                        <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.RdplanAcc"  />
                    </BSCol>
                }
                else
                {
                    <BSCol Column="6">
                        <BSLabel>Plan de Accion</BSLabel>
                        <BSInput InputType="InputType.Text" @bind-Value="DiscForm.RdplanAcc" />
                    </BSCol>
                }

            </BSRow>

            <p></p>
            <p></p>

            <BSRow>

                @if (tipo == 0)
                {
                    <BSCol Column="2">
                        <BSLabel>Tiempo (Min)</BSLabel>
                        <BSInput InputType="InputType.Number" IsDisabled @bind-Value="DiscForm.Rdtiempo" />
                    </BSCol>

                }
                else
                {
                    <BSCol Column="2">
                        <BSLabel>Tiempo (Min)</BSLabel>
                        <BSInput InputType="InputType.Number" @bind-Value="DiscForm.Rdtiempo" />
                    </BSCol>
                }


                @if (tipo == 0)
                {
                    <BSCol Column="2">
                        <BSLabel>Fecha del Trabajo</BSLabel>
                        <BSInput InputType="InputType.Date" IsDisabled @bind-Value="DiscForm.RdfecTra" ValidateOnInput="true" />
                    </BSCol>
                }
                else
                {
                    <BSCol Column="2">
                        <BSLabel>Fecha del Trabajo</BSLabel>
                        <BSInput InputType="InputType.Date" @bind-Value="DiscForm.RdfecTra" ValidateOnInput="true" />
                    </BSCol>
                }

                <BSCol ColumnSmall="2">
                    <BSLabel>Responsable</BSLabel>
                    <BSInput InputType="InputType.Select" @bind-Value="DiscForm.IdResReu">
                        <option value="">Seleccione...</option>
                        @foreach (var d in APIDiv1Service.resporeu)
                        {
                            <option value="@d.IdResReu">@d.Rrnombre</option>
                        }
                    </BSInput>
                    <BSFeedback For="@(() => DiscForm.IdResReu)" ValidMessage="Correcto." />
                </BSCol>

                @if (tipo == 0)
                {
                    <BSCol Column="2">
                        <BSLabel>Fecha Reunión</BSLabel>
                        <BSInput InputType="InputType.Date" @bind-Value="DiscForm.RdfecReu" ValidateOnInput="true" />
                    </BSCol>
                }
            </BSRow>
            <p></p>
            <BSRow>

                @if (tipo == 0)
                {
                    <BSCol ColumnSmall="2">
                        <BSLabel>Código</BSLabel>
                        <BSInput InputType="InputType.Select" IsDisabled @bind-Value="DiscForm.RdcodDis">
                            <option value="">Sleccione...</option>
                            <option value="1">1- En Curso</option>
                            <option value="2">2- Próxima Parada</option>
                            <option value="3">3- Falta Repuesto</option>
                            <option value="4">4- Falta de Personal</option>
                            <option value="5">5- Eq. no Disponible</option>


                        </BSInput>
                    </BSCol>
                }
                else
                {
                    <BSCol ColumnSmall="2">
                        <BSLabel>Código</BSLabel>
                        <BSInput InputType="InputType.Select" @bind-Value="DiscForm.RdcodDis">
                            <option value="">Sleccione...</option>
                            <option value="1">1- En Curso</option>
                            <option value="2">2- Próxima Parada</option>
                            <option value="3">3- Falta Repuesto</option>
                            <option value="4">4- Falta de Personal</option>
                            <option value="5">5- Eq. no Disponible</option>


                        </BSInput>
                    </BSCol>
                }


                <BSCol ColumnSmall="2">
                    <BSLabel>Status</BSLabel>
                    <BSInput InputType="InputType.Select" @bind-Value="DiscForm.Rdstatus">
                        <option value="">Seleccione...</option>
                        @if (tipo == 0)
                        {
                            <option value="Listo">Listo</option>
                            <option value="Cerrado">Cerrado</option>

                        }
                        else
                        {
                            <option value="Revisar">Revisar</option>
                        }

                        <option value="Pendiente">Pendiente</option>
                        <BSFeedback For="@(() => DiscForm.Rdstatus)" ValidMessage="Correcto." />
                    </BSInput>
                </BSCol>

                @if (APIDiv1Service.resporeu.Count() > 0)
                {
                    if (planificador == "Admin" | planificador == "Planificador")
                    {
                        <BSCol Column="2">
                            <BSLabel>ODT</BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="DiscForm.Rdodt" ValidateOnInput="true" />
                        </BSCol>
                    }
                    else
                    {
                        <BSCol Column="2">
                            <BSLabel>ODT</BSLabel>
                            <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdodt" ValidateOnInput="true" />
                        </BSCol>
                    }
                }

            </BSRow>
            <p></p>
            <p></p>
            <BSCol Column="12">
                <BSButton Color="BSColor.Success" Size="Size.ExtraSmall" IsSubmit>  Guardar <span class="oi oi-check"></span></BSButton>
            </BSCol>
        </BSForm>

    </Authorized>


    <NotAuthorized>


        <BSForm Model="DiscForm" IsRow="true" Gutters="Gutters.Medium" OnSubmit="Editar">
            <DataAnnotationsValidator />
            <BSCol ColumnMedium="12">
                @_message
                <BSValidationSummary />
            </BSCol>
            <BSRow>

                <BSCol Column="3">
                    <BSLabel>Centro</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdcentro" />
                </BSCol>


                <BSCol Column="2">
                    <BSLabel>División</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rddiv">
                    </BSInput>
                </BSCol>

                <BSCol Column="2">
                    <BSLabel>Area</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdarea">
                    </BSInput>
                </BSCol>



                <BSInput InputType="InputType.Select" hidden @bind-Value="DiscForm.Idksf">

                    <option value="">Seleccione...</option>
                    @foreach (var d in APIDiv1Service.ksfs)
                    {
                        <option value="@d.Idksf">@d.KsfNombre</option>
                    }

                </BSInput>


                <BSCol Column="2">
                    <BSLabel>C. Equipo</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.RdcodEq" ValidateOnInput="true" />
                </BSCol>


            </BSRow>
            <p></p>
            <BSRow>
                <BSCol Column="4">
                    <BSLabel>Discrepancia</BSLabel>
                    <BSInput InputType="InputType.Text"  @bind-Value="DiscForm.Rddisc" ValidateOnInput="true" />
                </BSCol>


                <BSCol Column="6">
                    <BSLabel>Plan de Accion</BSLabel>
                    <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.RdplanAcc" ValidateOnInput="true" />
                </BSCol>

            </BSRow>

            <p></p>
            <p></p>

            <BSRow>


                <BSInput InputType="InputType.Text" hidden @bind-Value="DiscForm.Rdtiempo" ValidateOnInput="true" />


                <BSCol Column="2">
                    <BSLabel>Fecha del Trabajo</BSLabel>
                    <BSInput InputType="InputType.Date" IsDisabled @bind-Value="DiscForm.RdfecTra" ValidateOnInput="true" />
                </BSCol>

                <BSCol ColumnSmall="2">
                    <BSLabel>Responsable</BSLabel>
                    <BSInput InputType="InputType.Select" IsDisabled @bind-Value="DiscForm.IdResReu">
                        <option value="">Seleccione...</option>
                        @foreach (var d in APIDiv1Service.resporeu)
                        {
                            <option value="@d.IdResReu">@d.Rrnombre</option>
                        }
                    </BSInput>

                </BSCol>



                <BSCol ColumnSmall="2">
                    <BSLabel>Código</BSLabel>
                    <BSInput InputType="InputType.Select" @bind-Value="DiscForm.RdcodDis">
                        <option value="">Seleccione...</option>
                        <option value="1">1- En Curso</option>
                        <option value="2">2- Próxima Parada</option>
                        <option value="3">3- Falta Repuesto</option>
                        <option value="4">4- Falta de Personal</option>
                        <option value="5">5- Eq. no Disponible</option>
                    </BSInput>
                </BSCol>
       
                @if (APIDiv1Service.resporeu.Count() > 0)
                {
                    if (planificador == "Admin" | planificador == "Planificador")
                    {
                        <BSCol ColumnSmall="2">
                            <BSLabel>Status</BSLabel>
                            <BSInput InputType="InputType.Select" @bind-Value="DiscForm.Rdstatus">
                                <option value="">Seleccione...</option>
                                @if (tipo == 0)
                                {
                                    <option value="Listo">Listo</option>
                                    <option value="Pendiente/Responsable">Pendiente/Responsable</option>

                                }
                                else
                                {
                                    <option value="Revisar">Revisar</option>
                                }

                                    <option value="Pendiente">Pendiente</option>
                            <BSFeedback For="@(() => DiscForm.Rdstatus)" ValidMessage="Correcto." />
                        </BSInput>
                </BSCol>
                    }

                    else
                    {
                         <BSCol ColumnSmall="2">
                            <BSLabel>Status</BSLabel>
                            <BSInput InputType="InputType.Select" @bind-Value="DiscForm.Rdstatus">
                                <option value="">Seleccione...</option>
                                @if (tipo == 0)
                                {
                                    <option value="Listo">Listo</option>
                                }
                                else
                                {
                                    <option value="Revisar">Revisar</option>
                                }

                                    <option value="Pendiente">Pendiente</option>
                            <BSFeedback For="@(() => DiscForm.Rdstatus)" ValidMessage="Correcto." />
                        </BSInput>
                    </BSCol>
                    }


                    if (planificador == "Admin" | planificador == "Planificador")
                    {
                        <BSCol Column="2">
                            <BSLabel>ODT</BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="DiscForm.Rdodt" ValidateOnInput="true" />
                        </BSCol>
                    }
                    else
                    {
                        <BSCol Column="2">
                            <BSLabel>ODT</BSLabel>
                            <BSInput InputType="InputType.Text" IsDisabled @bind-Value="DiscForm.Rdodt" ValidateOnInput="true" />
                        </BSCol>
                    }
                }




            </BSRow>
            <p></p>
            <p></p>
            <BSCol Column="12">
                <BSButton Color="BSColor.Success" Size="Size.ExtraSmall" IsSubmit>  Guardar <span class="oi oi-check"></span></BSButton>
            </BSCol>
        </BSForm>

    </NotAuthorized>

</AuthorizeView>


@code {

    [Parameter]
    public int? Id { get; set; }
    [Parameter]
    public int? tipo { get; set; }
    [Parameter]
    public string? f1 { get; set; }
    [Parameter]
    public string? f2 { get; set; }

    string _message = "";
    ReuDium DiscForm = new ReuDium();
    private List<ReuDium> bdDiv1slist = new List<ReuDium>();
    private DateTime fechahoy, fechatrabajo = DateTime.Today;
    private string fechahoy2, Emp = "", planificador;//Variable para verificar si es el usuario del planificador;

    private List<Claim> claims { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);


    }

    protected override async Task OnParametersSetAsync()
    {
        await CreateData();
        Emp = claims[5].Value;
        planificador = claims[1].Value;
        DiscForm = await DbDiv1Service.GetDiscrepantacia((int)Id);
        await APIDiv1Service.Getksf();
        await APIDiv1Service.GetResReu();
    }
    async Task Editar()
    {

        await DbDiv1Service.UpdateDiscrepancia(DiscForm, (int)Id, (int)tipo, f1, f2);
    }
    }
