@page "/pendientes"
@page "/pendientes/{accion}/{division}/{f1}/{f2}/{tipo}"
@inject IDbReunionService DbReunionService
@inject IAPIReunionService APIReunionService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IJSRuntime IJS


<AuthorizeView Roles="Admin">

    <NotAuthorized>

    </NotAuthorized>

    <Authorized>

    </Authorized>
</AuthorizeView>

@error
<h3>Asuntos</h3>

<BSContainer>

    @if (APIReunionService.centro.Count() == 0)
    {
        <div class="loader"></div>
    }
    else
    {


        <BSRow>
            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdCentro">
                    <option value="">Seleccione</option>
                    @foreach (var d in APIReunionService.centro)
                    {
                        <option value="@d.IdCentro">@d.Cnom</option>
                    }
                </BSInput>
            </BSCol>


            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdDiv">
                    <option value="">Seleccione</option>
                    @foreach (var d in APIReunionService.centro)
                    {
                        @foreach (var e in d.Divisions)
                        {
                            if (IdCentro == d.IdCentro)
                            {
                                <option value="@e.IdDivision">@e.Dnombre</option>
                            }
                        }
                    }
                </BSInput>
            </BSCol>


@*
            <BSCol Column="3" ColumnSmall="2">
                <BSLabel> Desde</BSLabel>
                <BSInput InputType="InputType.Date" @bind-Value="fecha1" />
            </BSCol>

            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>Hasta</BSLabel>
                <BSInput InputType="InputType.Date" @bind-Value="fecha2" />
            </BSCol>*@

            <BSCol ColumnSmall="1" Column="2">
                <BSLabel>Código</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Codigo">
                    <option value="Todo">Todo</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </BSInput>
            </BSCol>

            <BSCol ColumnSmall="2" Column="3">
                <BSLabel>Estado</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Status">
                    <option value="Total Pendiente">Total Pendiente</option>
                    <option value="Todo">Todo</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pendiente/Responsable">Pendiente/Responsable</option>
                    <option value="Listo">Listo</option>
                    <option value="Cerrado">Cerrado</option>
                </BSInput>
            </BSCol>

        </BSRow>
        <p>
        </p>
        <BSRow>

            <BSCol ColumnSmall="2" Column="1">
                <BSRow>
                    <BSLabel>  Filtro Fecha de Trabajo</BSLabel>
                </BSRow>
                <BSInputRadio CheckedValue="@("0")" @bind-Value="tipoconsulta" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
                    Fecha Trabajo
                    <span class="oi oi-cog"></span>
                </BSInputRadio>
            </BSCol>

            <BSCol ColumnSmall="2" Column="1">
                <BSRow>
                    <BSLabel>  Filtro Fecha de Reunión</BSLabel>
                </BSRow>
                <BSInputRadio CheckedValue="@("2")" @bind-Value="tipoconsulta" IsToggle="true" Size="Size.ExtraSmall" Color="BSColor.Success" IsOutlined="true">
                    Fecha Reunión
                    <span class="oi oi-people"></span>
                </BSInputRadio>
            </BSCol>


            <BSCol ColumnSmall="2" Column="2">
                <BSRow>
                    <BSLabel>Buscar</BSLabel>
                </BSRow>
                <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="Get">  Consultar <span class="oi oi-check"></span></BSButton>
                </BSCol>
                @if (DbReunionService.reudiatablas.Count() > 0 && dataIsLoaded == 2)
            {
                <BSCol ColumnSmall="2">
                    <BSRow>
                        <BSLabel>Imprimir</BSLabel>
                    </BSRow>
                    <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="PrintDocument">  <span class="oi oi-print"></span></BSButton>
                </BSCol>

            }
        </BSRow>
    }

</BSContainer>

<p></p>


@if (DbReunionService.reudiatablas.Count() > 0 && dataIsLoaded == 2)
{


    <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
        <BSTHead Class="cabecera">
            <BSTR>

                @*<BSTD>Id</BSTD>*@
                @*Centro para validar el comedor*@
                @if (CentroComedor == 11)
                {
                    <BSTD>N. Equipo</BSTD>
                }
                else
                {
                    <BSTD>Área</BSTD>
                    <BSTD>Ksf</BSTD>
                }
                <BSTD>C. Equipo</BSTD>
                <BSTD ColSpan="4">Discrepancia</BSTD>
                <BSTD>Código</BSTD>
                <BSTD>Plan de Acción</BSTD>
                <BSTD>Tiempo</BSTD>
                <BSTD>Responsable</BSTD>
                <BSTD>Status</BSTD>
                <BSTD>ODT</BSTD>
                <BSTD>Fecha de Reunión</BSTD> @*Fecha del dia de reunion*@
                <BSTD>Fecha del Trabajo</BSTD>@*Fecha de listo el trabajo*@
                <BSTD></BSTD>

            </BSTR>
        </BSTHead>
        <BSTBody>
            @*            @if (UsrRol == "Calidad" | UsrRol == "Seguridad" | UsrRol.Substring(0,4).ToString()=="Mtto")
        @if (UsrRol == "Calidad" | UsrRol == "Seguridad" | UsrRol=="Mtto")*@
            @if (UsrRol != "")
            {
                listareu = DbReunionService.reudiatablas.Where(r => r.IdResReuNavigation.Rrnombre.StartsWith(UsrRol)).ToList();
            }
            else
            {
                listareu = DbReunionService.reudiatablas;

            }
            
            @*            @foreach (var d in DbReunionService.reudiatablas)*@
            @foreach (var d in listareu)
            {
                @if (Codigo == d.RdcodDis | Codigo == "Todo")
                {
                @if (Status == d.Rdstatus | Status == "Todo" | Status == "Total Pendiente" & (d.Rdstatus == "Pendiente" | d.Rdstatus=="Pendiente/Responsable"))
                    {

                        <BSTR>
                            @*<BSTD>@d.IdReuDia</BSTD>*@
                            @*Centro para validar el comedor*@
                            @if (CentroComedor == 11)
                            {
                                @if (APIReunionService.equiposlinea.Any(e => e.EcodEquiEam == d.RdcodEq) is true)
                                {


                                    @foreach (var eq in APIReunionService.equiposlinea)
                                    {

                                        if (eq.EcodEquiEam == d.RdcodEq)
                                        {
                                            <BSTD>@eq.EnombreEam</BSTD>

                                        }


                                    }
                                }
                                else
                                {
                                    <BSTD>No hay desctripción.</BSTD>

                                }
                            }
                            else
                            {
                                <BSTD>@d.Rdarea</BSTD>
                                <BSTD>@d.IdksfNavigation.KsfNombre</BSTD>
                            }

                            <BSTD>@d.RdcodEq</BSTD>
                            <BSTD ColSpan="4">@d.Rddisc.ToUpperInvariant()</BSTD>
                            <BSTD>@d.RdcodDis</BSTD>
                            <BSTD Class="textotabla">@d.RdplanAcc</BSTD>
                            <BSTD>@d.Rdtiempo</BSTD>

                            @if (@d.IdResReuNavigation.Rrnombre == "Por Definir")
                            {
                                <BSTD Class="Definir">@d.IdResReuNavigation.Rrnombre </BSTD>
                            }
                            else
                            {
                                <BSTD>@d.IdResReuNavigation.Rrnombre </BSTD>
                            }

                            @if (@d.Rdstatus == "Listo")
                            {
                                <BSTD Class="listo">@d.Rdstatus</BSTD>
                            }
                            else if (@d.Rdstatus == "Cerrado")
                            {
                                <BSTD Class="Cerrado">@d.Rdstatus</BSTD>
                            }
                            else
                            {
                                <BSTD Class="pendiente">@d.Rdstatus</BSTD>
                            }
                            <BSTD>@d.Rdodt</BSTD>
                            <BSTD>@d.RdfecReu.ToString("dd/MM/yyyy")</BSTD>
                            <BSTD>@d.RdfecTra.ToString("dd/MM/yyyy")</BSTD>
                            <BSTD>
                                <BSRow>
                                    <BSCol>
                                        <button class="btn btn-success" @onclick="(() => Editar(d.IdReuDia))"><i class="oi oi-pencil"></i></button>
                                    </BSCol>
                                    <BSCol>
                                        @if (UsrAdmin != "")
                                        {
                                            <BSButton Color="BSColor.Primary" IsOutlined @onclick="(() => GetHistory(d.IdReuDia))" Target="History"><i class="oi oi-eye"></i></BSButton>
                                        }
                                    </BSCol>
                                </BSRow>
                            </BSTD>
                        </BSTR>

                    }
                }



            }


        </BSTBody>

    </BSTable>


    @*Mostrar la trazabilidad*@
    <BSModal IsCentered="true" DataId="History">
        <Header>Trazabilidad</Header>
        <Content>
            <h5>Cambios de Estados:</h5>
            @if (cambiostatuss.Count() > 0 && cargandocambio == true)
            {
                <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
                    <BSTHead Class="cabecera">
                        <BSTR>
                            <BSTD>Fecha del Cambio</BSTD>
                            <BSTD>Status Nuevo</BSTD>
                            <BSTD>Usuario</BSTD>
                        </BSTR>
                    </BSTHead>
                    <BSTBody>
                        @foreach (var d in cambiostatuss)
                        {
                            <BSTR>
                                <BSTD>@d.Cbfecha</BSTD>
                                <BSTD>@d.Cbstat</BSTD>
                                <BSTD>@d.Cbuser</BSTD>
                            </BSTR>
                        }
                    </BSTBody>
                </BSTable>
            }
            else if (cambiostatuss.Count() == 0 && cargandocambio == false)
            {
                <BSSpinner SpinnerType="SpinnerType.Grow" Color="BSColor.Success" />
            }
            else if (cambiostatuss.Count() == 0 && cargandocambio == true)
            {
                <p>No hay registros aún...</p>
            }
            <p></p>
            <p></p>
            <h5>Cambios de Fecha de Trabajo:</h5>

            @if (cambiofechas.Count() > 0)
            {
                <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
                    <BSTHead Class="cabecera">
                        <BSTR>
                            <BSTD>Fecha del Cambio</BSTD>
                            <BSTD>Nueva Fecha de Trabajo</BSTD>
                            <BSTD>Usuario</BSTD>
                        </BSTR>
                    </BSTHead>
                    <BSTBody>
                        @foreach (var d in cambiofechas)
                        {
                            <BSTR>
                                <BSTD>@d.Cffec</BSTD>
                                <BSTD>@d.CffecNew</BSTD>
                                <BSTD>@d.Cfuser</BSTD>
                            </BSTR>
                        }
                    </BSTBody>
                </BSTable>
            }
            else if (cambiofechas.Count() == 0 && cargandocambio == false)
            {
                <BSSpinner SpinnerType="SpinnerType.Grow" Color="BSColor.Success" />
            }
            else if (cambiofechas.Count() == 0 && cargandocambio == true)
            {
                <p>No hay registros aún...</p>
            }
        </Content>
        <Footer Context="modal">
            <BSButton MarginStart="Margins.Auto" Color="BSColor.Success" @onclick="modal.HideAsync">Aceptar</BSButton>

        </Footer>
    </BSModal>


}
else if (dataIsLoaded == 1 && DbReunionService.reudiatablas.Count() == 0)
{
    <div class="loader"></div>
}
else if (dataIsLoaded == 2 && DbReunionService.reudiatablas.Count() == 0)
{
    <p>No hay datos para esta fecha.</p>
}

@code {

    [Parameter]
    public string? accion { get; set; }//centro
    [Parameter]
    public string? division { get; set; }//division
    [Parameter]
    public string? f1 { get; set; }
    [Parameter]
    public string? f2 { get; set; }
    [Parameter]
    public string? tipo { get; set; }

    int dataIsLoaded = 0;
    string ayer = DateTime.Now.AddDays(-1).ToString("yyyyMMdd"), error;
    private bool data { get; set; } = false; //Centro

    private int IdCentro { get; set; } //id del Centro
    private int IdDiv { get; set; } //id de la division

    private int CentroComedor;//Variable para verificar si es el comedor venezuela;

    //private string Div { get; set; } //Centro
    //private string Division { get; set; } //División

    private string Codigo { get; set; } = "Todo"; //Codigo
    private string Status { get; set; } = "Total Pendiente"; //Status
    private string UsrAdmin { get; set; } = ""; //permisos de admin
    private string UsrRol { get; set; } = ""; //rol para filtrar
    private bool cargandocambio { get; set; } = false; //para cargar los datos del trazabilidad
    private string tipoconsulta { get; set; } = "0"; //1-fecha de reuinion 0 fecha trabajo

    public DateTime fecha1;
    public DateTime fecha2;
    List<ReuDium> listareu = new List<ReuDium>();//filtar los responsables
    List<CambFec> cambiofechas = new List<CambFec>();
    List<CambStat> cambiostatuss = new List<CambStat>();

    private List<Claim> claims { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        fecha1 = DateTime.Now;
        fecha2 = DateTime.Now;
        await CreateData();

        if (claims[1].Value == "Admin" | claims[1].Value == "SuperAdmin")
        {
            UsrAdmin = claims[1].Value;
            await APIReunionService.GetCentrosxEmpresa("All" + claims[10].Value);

        }
        else if (claims[1].Value == "SupIntendenteGeneral")
        {
            UsrAdmin = claims[1].Value;
            await APIReunionService.GetCentrosxEmpresa(claims[11].Value);
        }
        else if (claims[1].Value == "Planificador" | claims[1].Value == "SupIntendente")
        {
            await APIReunionService.GetCentrosxEmpresa(claims[11].Value);
        }
        else if (claims[1].Value == "MttoAdmin")
        {
            UsrRol = "Mtto";
            await APIReunionService.GetCentrosxEmpresa("All" + claims[10].Value);
        }
        else
        {
            if (claims[1].Value == "Mantenimiento")
            {
                UsrRol = "Mtto";
            }
            else
            {
                UsrRol = claims[1].Value;
            }

            await APIReunionService.GetCentrosxEmpresa(claims[11].Value);

        }

        //Si es el comedor busca los equipos
        if (claims[11].Value == "11")
        {
            CentroComedor = int.Parse(claims[11].Value);
            await APIReunionService.GetEquiposCentro(claims[11].Value);
        }

        await APIReunionService.Getksf();
        await APIReunionService.GetResReu();
        DbReunionService.reudiatablas = new List<ReuDium>();

    }

    protected async Task Get()
    {
        if (dataIsLoaded != 1)
        {
            dataIsLoaded = 1;

            //await DbReunionService.GetPendientes(Div, Division, fecha1, fecha2, tipoconsulta);
            await DbReunionService.GetPendientes(IdCentro.ToString(), IdDiv.ToString(), fecha1, fecha2, tipoconsulta);
            dataIsLoaded = 2;
        }
    }
    protected async Task GetHistory(int idreu)
    {
        cargandocambio = false;
        cambiostatuss = new List<CambStat>();
        cambiofechas = new List<CambFec>();
        await DbReunionService.GetCambioStatus(idreu);
        await DbReunionService.GetCambioFecha(idreu);
        cambiofechas = DbReunionService.cambiofecha;
        cambiostatuss = DbReunionService.cambiostatus;

        cargandocambio = true;

    }


    void Editar(int id)
    {
        NavigationManager.NavigateTo($"EditDisc/{id}/{tipoconsulta}/{fecha1.ToString("dd-MM-yyyy")}/{fecha2.ToString("dd-MM-yyyy")}");

    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {

            if (accion != null)
            {
                string[] fec1 = f1.Split('-');
                string[] fec2 = f2.Split('-');

                //año, mes dia
                DateTime date1 = new DateTime(int.Parse(fec1[2]), int.Parse(fec1[1]), int.Parse(fec1[0]));
                DateTime date2 = new DateTime(int.Parse(fec2[2]), int.Parse(fec2[1]), int.Parse(fec2[0]));
                fecha1 = date1;
                fecha2 = date2;

                tipoconsulta = tipo;
                dataIsLoaded = 1;
                await DbReunionService.GetPendientes(accion, division, date1, date2, tipo);
                dataIsLoaded = 2;

            }
        }
        catch (Exception ex)
        {
            error = "" + ex;
        }

    }

    public async Task PrintDocument()
    {
        //NavigationManager.NavigateTo($"TablaReunion/{IdCentro.ToString()}/{IdDiv.ToString()}/{DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy")}/{DateTime.Now.ToString("dd-MM-yyyy")}/1", forceLoad: true);
        await IJS.InvokeAsync<object>("open", new object[] { $"TablaPendientes/{IdCentro.ToString()}/{IdDiv.ToString()}/{fecha1.ToString("dd-MM-yyyy")}/{fecha2.ToString("dd-MM-yyyy")}/{tipoconsulta}", "_blank" });
    }
}
