@page "/pendientes"
@page "/pendientes/{accion}/{division}/{f1}/{f2}"
@inject IDbDiv1Service DbDiv1Service
@inject IAPIDiv1Service APIDiv1Service
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage


<AuthorizeView Roles="Admin">

    <NotAuthorized>

    </NotAuthorized>

    <Authorized>

    </Authorized>
</AuthorizeView>

@error
<h3>Pendientes y Listos</h3>

<BSContainer>

    @if (APIDiv1Service.centro.Count() == 0)
    {
        <div class="loader"></div>
    }
    else
    {
        <BSRow>
            <BSCol Column="2">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="Div">
                    <option value="">Seleccione</option>
                    @foreach (var d in APIDiv1Service.centro)
                    {
                    <option value="@d.Cnom">@d.Cnom</option>
                    }
            </BSInput>
        </BSCol>

        <BSCol ColumnSmall="2">
            <BSLabel>División</BSLabel>
            <BSInput InputType="InputType.Select" @bind-Value="Division">
                <option value="">Seleccione</option>
                @foreach (var d in APIDiv1Service.centro)
                    {
                    @foreach (var e in d.Divisions)
                        {
                            if (Div == d.Cnom)
                            {
                            <option value="@e.Dnombre">@e.Dnombre</option>
                            }
                        }
                    }
            </BSInput>
        </BSCol>

        <BSCol Column="2">
            <BSLabel>Fecha Inicial</BSLabel>
            <BSInput InputType="InputType.Date" @bind-Value="fecha1" />
        </BSCol>

        <BSCol ColumnSmall="2">
            <BSLabel>Fecha Final</BSLabel>
            <BSInput InputType="InputType.Date" @bind-Value="fecha2" />
        </BSCol>

        <BSCol ColumnSmall="1">
            <BSLabel>Código</BSLabel>
            <BSInput InputType="InputType.Select" @bind-Value="Codigo">
                <option value="Todo">Todo</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </BSInput>
        </BSCol>

        <BSCol ColumnSmall="1">
            <BSLabel>Estado</BSLabel>
            <BSInput InputType="InputType.Select" @bind-Value="Status">
                <option value="Todo">Todo</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Pendiente/Responsable">Pendiente/Responsable</option>
                <option value="Listo">Listo</option>
                <option value="Cerrado">Cerrado</option>
            </BSInput>
        </BSCol>

        <BSCol ColumnSmall="2">
            <BSRow><BSLabel> Buscar</BSLabel></BSRow>
            <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="Get">   <span class="oi oi-check"></span></BSButton>
        </BSCol>
    </BSRow>
    }

</BSContainer>

<p></p>


@if (DbDiv1Service.reudiatablas.Count() > 0 && dataIsLoaded == 2)
{


    <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
        <BSTHead Class="cabecera">
            <BSTR>

                @*<BSTD>Id</BSTD>*@
                <BSTD>Área</BSTD>
                <BSTD>Ksf</BSTD>
                <BSTD>C. Equipo</BSTD>
                <BSTD ColSpan="4">Discrepancia</BSTD>
                <BSTD>Código</BSTD>
                <BSTD>Plan de Acción</BSTD>
                <BSTD>Tiempo</BSTD>
                <BSTD>Responsable</BSTD>
                <BSTD>Status</BSTD>
                <BSTD>ODT</BSTD>
                <BSTD>Fecha de Reunión</BSTD> @*Fecha del dia de reunion*@
                <BSTD>Fecha del Trabajo</BSTD>@*Fecha de listo el trabajo*@
                <BSTD></BSTD>

            </BSTR>
        </BSTHead>
        <BSTBody>
            @foreach (var d in DbDiv1Service.reudiatablas)
            {
                @if (Codigo == d.RdcodDis | Codigo == "Todo")
                {
                    @if (Status == d.Rdstatus | Status == "Todo")
                    {
                        <BSTR>
                            @*<BSTD>@d.IdReuDia</BSTD>*@
                            <BSTD>@d.Rdarea</BSTD>
                            <BSTD>@d.IdksfNavigation.KsfNombre</BSTD>
                            <BSTD>@d.RdcodEq</BSTD>
                            <BSTD ColSpan="4">@d.Rddisc.ToUpperInvariant()</BSTD>
                            <BSTD>@d.RdcodDis</BSTD>
                            <BSTD Class="textotabla">@d.RdplanAcc</BSTD>
                            <BSTD>@d.Rdtiempo</BSTD>
                            @if (@d.IdResReuNavigation.Rrnombre == "Por Definir")
                            {
                                <BSTD Class="Definir">@d.IdResReuNavigation.Rrnombre </BSTD>
                            }
                            else
                            {
                                <BSTD>@d.IdResReuNavigation.Rrnombre </BSTD>
                            }

                            @if (@d.Rdstatus == "Listo")
                            {
                                <BSTD Class="listo">@d.Rdstatus</BSTD>
                            }
                            else
                            {
                                <BSTD Class="pendiente">@d.Rdstatus</BSTD>
                            }
                            <BSTD>@d.Rdodt</BSTD>
                            <BSTD>@d.RdfecReu.ToString("dd/MM/yyyy")</BSTD>
                            <BSTD>@d.RdfecTra.ToString("dd/MM/yyyy")</BSTD>
                            <BSTD>
                                <button class="btn btn-success" @onclick="(() => Editar(d.IdReuDia))"><i class="oi oi-pencil"></i></button>
                            </BSTD>
                        </BSTR>

                    }
                }



            }


        </BSTBody>

    </BSTable>


}
else if (dataIsLoaded == 1 && DbDiv1Service.dbDiv1s.Count() == 0)
{
    <div class="loader"></div>
}
else if (dataIsLoaded == 2 && DbDiv1Service.dbDiv1s.Count() == 0)
{
    <p>No hay datos para esta fecha.</p>
}

@code {

    [Parameter]
    public string? accion { get; set; }//centro
    [Parameter]
    public string? division { get; set; }//division
    [Parameter]
    public string? f1 { get; set; }
    [Parameter]
    public string? f2 { get; set; }

    int dataIsLoaded = 0;
    string ayer = DateTime.Now.AddDays(-1).ToString("yyyyMMdd"), error;
    private bool data { get; set; } = false; //Centro
    private string Div { get; set; } //Centro
    private string Division { get; set; } //División
    private string Codigo { get; set; } = "Todo"; //Codigo
    private string Status { get; set; } = "Todo"; //Status
    private DateTime fecha1 = DateTime.Now;
    private DateTime fecha2 = DateTime.Now;


    private List<Claim> claims { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }


    protected override async Task OnInitializedAsync()
    {

        await CreateData();

        if (claims[1].Value == "Admin")
        {
            await APIDiv1Service.GetCentros("All");
        }
        else
        {
            await APIDiv1Service.GetCentros(claims[6].Value.ToString());
        }

        await APIDiv1Service.Getksf();
        await APIDiv1Service.GetResReu();
    }

    protected async Task Get()
    {
        if (dataIsLoaded != 1)
        {
            dataIsLoaded = 1;

            await DbDiv1Service.GetPendientes(Div, Division, fecha1, fecha2);
            dataIsLoaded = 2;
        }
    }


    void Editar(int id)
    {
        NavigationManager.NavigateTo($"EditDisc/{id}/0/{fecha1.ToString("dd-MM-yyyy")}/{fecha2.ToString("dd-MM-yyyy")}");

    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (accion != null)
            {
                string[] fecha1 = f1.Split('-');
                string[] fecha2 = f2.Split('-');

                //año, mes dia
                DateTime date1 = new DateTime(int.Parse(fecha1[2]), int.Parse(fecha1[1]), int.Parse(fecha1[0]));
                DateTime date2 = new DateTime(int.Parse(fecha2[2]), int.Parse(fecha2[1]), int.Parse(fecha2[0]));

                dataIsLoaded = 1;
                await DbDiv1Service.GetPendientes(accion, division, date1, date2);
                dataIsLoaded = 2;

            }
        }
        catch (Exception ex)
        {
            error = "" + ex;
        }

    }



    }
