@page "/reunion"
@page "/reunion/{accion}/{division}/{f1}/{f2}/{tipo}"
@inject IDbReunionService DbReunionService
@inject IAPIReunionService APIReunionService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize(Roles = "Admin,AdminChempro, SupIntendente,SupIntendenteGeneral,SuperAdmin, Planificador, Mantenimiento,Calidad,Seguridad, PendientesChempro")]

<h3>Formato de Reunión</h3>


<BSContainer>

    @if (APIReunionService.centro.Count() == 0)
    {


        <div class="loader"></div>
    }
    else
    {
        <BSRow>
            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>Centro</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdCentro">
                    <option value="">Seleccione</option>
                    @foreach (var d in APIReunionService.centro)
                    {
                        <option value="@d.IdCentro">@d.Cnom</option>
                    }
                </BSInput>
            </BSCol>



            <BSCol Column="3" ColumnSmall="2">
                <BSLabel>División</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="IdDiv">
                    <option value="">Seleccione</option>
                    @foreach (var d in APIReunionService.centro)
                    {
                        @foreach (var e in d.Divisions)
                        {
                            if (IdCentro == d.IdCentro)
                            {
                                <option value="@e.IdDivision">@e.Dnombre</option>
                            }
                        }
                    }
                </BSInput>
            </BSCol>

        <BSCol ColumnSmall="1">
            <BSLabel>Código</BSLabel>
            <BSInput InputType="InputType.Select" @bind-Value="Codigo">
                <option value="Todo">Todo</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </BSInput>
        </BSCol>
        <BSCol ColumnSmall="2">
            <BSRow>
                <BSLabel>Aceptar</BSLabel>
            </BSRow>
            <BSButton IsOutlined Color="BSColor.Success" Size="Size.ExtraSmall" @onclick="Get"> Reunión <span class="oi oi-check"></span></BSButton>
        </BSCol>

    </BSRow>
    }

</BSContainer>

<p>

</p>

@if (DbReunionService.reudiatablas.Count() > 0 && dataIsLoaded == 2)
{
    <BSContainer>


        <BSTable IsResponsive="true" IsStriped="true" IsBordered="true">
            <BSTHead Class="cabecera">
                <BSTR>

                    @*<BSTD>Id</BSTD>*@
                    @*Centro para validar el comedor*@
                    @if (CentroComedor == 11)
                    {
                        <BSTD>N. Equipo</BSTD>
                    }
                    else
                    {  
                        
                      @*  <BSTD>División</BSTD>*@
                        <BSTD>Área</BSTD>
                        <BSTD>Ksf</BSTD>

                    }

                    <BSTD>Código de Equipo</BSTD>
                    <BSTD ColSpan="4">Discrepancia</BSTD>
                    <BSTD>Código</BSTD>
                    <BSTD>Plan de Acción</BSTD>
                    <BSTD>Tiempo</BSTD>
                    <BSTD ColSpan="1">Responsable</BSTD>
                    <BSTD>Status</BSTD>
                    <BSTD>ODT</BSTD>
                    <BSTD>Fecha del Trabajo</BSTD>@*Fecha de listo el trabajo*@
                    @if (Rol == "Admin" | Rol == "AdminChempro" | Rol == "SupIntendente" | Rol == "SupIntendenteGeneral")
                              {<BSTD></BSTD>

                              }


                </BSTR>
            </BSTHead>
            <BSTBody>
                @foreach (var d in DbReunionService.reudiatablas)
                {
                    @if (d.Rdstatus != "Listo")
                    {
                        @if (Codigo == d.RdcodDis | Codigo == "Todo")
                        {
                            
                            
                            <BSTR>

                                @*<BSTD>@d.IdReuDia</BSTD>*@
                                @*Centro para validar el comedor*@
                                @if (CentroComedor == 11)
                                {
                                    @if (APIReunionService.equiposlinea.Any(e => e.EcodEquiEam == d.RdcodEq) is true)
                                    {


                                        @foreach (var eq in APIReunionService.equiposlinea)
                                        {

                                            if (eq.EcodEquiEam == d.RdcodEq)
                                            {
                                                <BSTD>@eq.EnombreEam</BSTD>
                                               
                                            }


                                        }
                                    }
                                    else
                                    {
                                        <BSTD>No hay desctripción.</BSTD>
                                        
                                    }

                }
                                else
                                {   
                                  @*  <BSTD>@d.Rddiv</BSTD>*@
                                    <BSTD>@d.Rdarea</BSTD>
                                    <BSTD>@d.IdksfNavigation.KsfNombre</BSTD>
                                }
                               
                              
                                <BSTD>@d.RdcodEq</BSTD>
                                <BSTD ColSpan="4">@d.Rddisc.ToUpper()</BSTD>
                                <BSTD>@d.RdcodDis</BSTD>
                                    @if(@d.RdplanAcc is  not null)
                                    {
                                        <BSTD Class="textotabla listo">@d.RdplanAcc</BSTD>
                                    }
                                    else
                                    {
                                        <BSTD Class="textotabla ">@d.RdplanAcc</BSTD>
                                    }
                                <BSTD>@d.Rdtiempo</BSTD>
                                    @if (@d.IdResReuNavigation.Rrnombre == "Por Definir")
                                    {
                                        <BSTD Class="Definir">@d.IdResReuNavigation.Rrnombre </BSTD>
                                    }
                                    else
                                    {
                                        <BSTD ColSpan="1">@d.IdResReuNavigation.Rrnombre</BSTD>
                                    }

                                    @if (@d.Rdstatus == "Revisar")
                                    {
                                        <BSTD Class="cabecera">@d.Rdstatus</BSTD>
                                    }
                                    else
                                    {
                                        <BSTD Class="">@d.Rdstatus</BSTD>
                                    }
                                <BSTD>@d.Rdodt</BSTD>
                                <BSTD>@d.RdfecTra.ToString("dd/MM/yyyy") </BSTD>
                                @if (Rol == "Admin" | Rol == "AdminChempro" | Rol == "SupIntendente" | Rol == "SupIntendenteGeneral")
                                {
                                    <BSTD>
                                        <button class="btn btn-success" @onclick="(() => Editar(d.IdReuDia))"><i class="oi oi-pencil"></i></button>
                                    </BSTD>
                                }

                            </BSTR>
                        }
                    }
                }


            </BSTBody>

        </BSTable>
    </BSContainer>
}
else if (dataIsLoaded == 1 && DbReunionService.reunionditablas.Count() == 0)
{
    <div class="loader"></div>
}
else if (dataIsLoaded == 2 && DbReunionService.reunionditablas.Count() == 0)
{
    <p>No hay datos para esta fecha.</p>
}


@code {

    [Parameter]
    public string? accion { get; set; }//centro
    [Parameter]
    public string? division { get; set; }//division
    [Parameter]
    public string? f1 { get; set; }
    [Parameter]
    public string? f2 { get; set; }
    [Parameter]
    public string? tipo { get; set; }


    int dataIsLoaded = 0, filtrocod = 0;
    string ayer = DateTime.Now.AddDays(-1).ToString("yyyyMMdd");

    private int IdCentro { get; set; } //id del Centro
    private int IdDiv { get; set; } //id de la division
    private int CentroComedor;//Variable para verificar si es el comedor venezuela;
    
    private string Div { get; set; } //Centro
    private string Division { get; set; } //División


    private string Codigo { get; set; } = "Todo"; //Codigo
    private string Rol { get; set; } = ""; //Rol del usuario



    private List<Claim> claims { get; set; }

    private async Task CreateData()

    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);

    }

    protected override async Task OnInitializedAsync()
    {
        await CreateData();
        Rol = claims[1].Value;


        if (claims[1].Value == "Admin" | claims[1].Value == "SuperAdmin")
        {
           // await APIReunionService.GetCentros("All");
            await APIReunionService.GetCentrosxEmpresa("All" + claims[10].Value);
        }
        else
        {
            //await APIReunionService.GetCentros(claims[6].Value.ToString());
            await APIReunionService.GetCentrosxEmpresa(claims[11].Value);
        }
        //Si es el comedor busca los equipos
        if (claims[11].Value == "11")
        {
            CentroComedor = int.Parse(claims[11].Value);
            await APIReunionService.GetEquiposCentro(claims[11].Value);

        }
        await APIReunionService.Getksf();
        await APIReunionService.GetResReu();

    }

    protected async Task Get()
    {
        if (dataIsLoaded != 1)
        {
            dataIsLoaded = 1;
            await DbReunionService.GetPendientes(IdCentro.ToString(), IdDiv.ToString(), DateTime.Now.AddDays(-1), DateTime.Now, "1");
            dataIsLoaded = 2;
        }
    }
    void Editar(int id)
    {
        NavigationManager.NavigateTo($"EditDisc/{id}/1/{DateTime.Now.AddDays(-1).ToString("dd-MM-yyyy")}/{DateTime.Now.ToString("dd-MM-yyyy")}");

    }
    protected override async Task OnParametersSetAsync()
    {
        if (accion != null)
        {
            dataIsLoaded = 1;
            await DbReunionService.GetPendientes(accion, division, DateTime.Now.AddDays(-1), DateTime.Now,tipo);
            dataIsLoaded = 2;
        }

    }

}